<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<!-- style="background-attachment:fixed; background-position: left; background-image: url(assets/app/media/img/bg/aside-navbar-bg-smaller.jpg);" -->
<div id="m_aside_left" class="m-grid__item	m-aside-left" style="background-attachment:fixed; background-position: left; background-image: url(assets/app/media/img/bg/aside-navbar-bg-smaller.jpg);">
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" style="padding: 0px 0px;">
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">				
					<div id="date-widget">
						<div id="date1">
							<h5 id="day">{{currentDate.date}}</h5>
						</div>
						<div id="date2">
							<h5 id="weekday">{{currentDate.day}}</h5>
							<h5 id="month">{{currentDate.month}}</h5>
						</div> 
					</div>
			    </div>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<button class="btn btn-today btn-sm" (click)="selectToday()">I Dag</button>
					<button class="btn btn-tomorrow btn-sm" (click)="selectTomorrow()">I Morgen</button>
				</div>
			</li>
			<li class="m-menu__section" style="margin: 0px auto; padding: 0px 40%;">
				<div class="content m-menu__section-text">
				   <i class="la la-angle-up" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoPrev()"></i>
				</div>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next"
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:current.year, month: current.month}"
						[dayTemplate]="customDay">
					</ngb-datepicker>
					<ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
						<span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
							{{ date.day }}
						</span>
					</ng-template>
				</div>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp1 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next" 
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:next.year, month: next.month}"
						[dayTemplate]="customDay">
					</ngb-datepicker>
					<ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
						<span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
							{{ date.day }}
						</span>
					</ng-template>
				</div>
			</li>
		    <li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp2 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next" 
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:next2next.year, month: next2next.month}"
						[dayTemplate]="customDay">
					</ngb-datepicker>
					<ng-template #customDay let-date="date" let-focused="focused" let-selected="selected">
						<span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.selected]="selected">
							{{ date.day }}
						</span>
					</ng-template>
				</div>
			</li>
		    <li class="m-menu__section" style="margin: 0px auto; padding: 0px 40%;">
				<div class="content m-menu__section-text">
				   <i class="la la-angle-down" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoNext()"></i>	
				</div>
			</li>	
		</ul>
	</div>
</div>
<!-- END: Left Aside -->
