@media (min-width: 1024px){
    .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel {
        padding: 0px 20px;
    }
}

.m-menu__link:visited{
    background-color: #5867dd;
}

.active_link{
    border-bottom: 5px solid #5867dd;
    color: #5867dd;
}

.active_link_a{
    color: #5867dd;
    font-weight: 400;
}

.active_link_icon{
    color: #5867dd;
    font-weight: 400;
}

#weather-widget{
    height: 45px;
    width: 260px;
    margin: 0.9rem 0px;
    background-color: #c5c1c1;
    padding: 0rem;
}

@media (max-width: 1024px){
    #weather-widget{
        height: 40px;
        width: 260px;
        margin: 0.2rem 0px;
        background-color: #c5c1c1;
        padding: 0rem;
    }
}
/* 
@media (min-width: 1244px){
    #weather-widget{
        height: 40px;
        width: 150px;
        margin: 0.9rem 0px;
        background-color: #c5c1c1;
        padding: 0rem;
    }

    #weather-widget .m-portlet__body #cityName{
        display: none;
    }
} */

#gradient{
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 99;
    height: 43%;
    width: 100%;
    opacity: 0.55;
}

@media (min-width: 992px){
    #gradient{
        position: absolute;
        top: 10px;
        left: 0px;
        z-index: 99;
        height: 47%;
        width: 100%;
        opacity: 0.45;
    }
}



