<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- BEGIN: Subheader -->
    <!-- END: Subheader -->
    <div class="m-content" style="padding: 10px;">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding: 0.5rem 0.7rem; height: 4rem;">
                <!-- <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            AJAX Datatable
                            <small>
                                data loaded from remote data source
                            </small>
                        </h3>
                    </div>
                </div>-->
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a class="btn btn-secondary m-btn m-btn--icon" (click)="showAddCustomerModal()" ng-reflect-href="#">
                                <span>
                                    <i class="fa fa-plus-circle" style="color: #1DB4BA;"></i>
                                    <span>
                                        Add New Customer
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
            <div class="m-portlet__body" style="padding: 0.5rem 1rem;">
                <div class="table-responsive">
                    <div class="m_datatable">
                            <div class="m-section">
                                    <div class="m-section__content">
                                        <table class="table m-table">
                                            <thead style="background-color: #ECEEEF;">
                                                <tr>
                                                    <th>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th>
                                                        Age
                                                    </th>
                                                    <th>
                                                        Gender
                                                    </th>
                                                    <th>
                                                        First Name
                                                    </th>
                                                    <th>
                                                        Last Name
                                                    </th>
                                                    <th>
                                                        Phone Number
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Comments
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let customer of customersArr">
                                                    <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        {{customer.age}}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-mars" *ngIf="customer.gender == 'Male'" style="color: cyan; font-weight: bold;"></i>
                                                        <i class="fa fa-venus" *ngIf="customer.gender == 'Female'" style="color: pink; font-weight: bold;"></i> 
                                                        <i class="fa fa-genderless" *ngIf="customer.gender == 'Others'" style="color: cyan; font-weight: bold;"></i>
                                                    </td>
                                                    <td>
                                                        {{customer.firstName}}
                                                    </td>
                                                    <td>
                                                        {{customer.lastName}}
                                                    </td>
                                                    <td>
                                                        {{customer.phone}}
                                                    </td>
                                                    <td>
                                                        {{customer.email}}
                                                    </td>
                                                    <td>
                                                        {{customer.comments}}
                                                    </td>
                                                    <td>
                                                        <span style="cursor: pointer"><i class="fa fa-ellipsis-h" ></i></span>
                                                        <span style="margin-left: 10px; cursor: pointer;" (click)="showUpdateCustomerModal(customer)"><i class="fa fa-edit"></i></span>
                                                        <span style="margin-left: 10px; cursor: pointer" (click)="setDeleteId(customer)"><i class="fa fa-trash"></i></span>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>

<!-- ++++++++++++++++++++++++++++++++++++++Add New Customer MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade add-customer-modal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Customer</h5>
                <button type="button" class="close" (click)="hideAddCustomerModal()" style="margin-top: 0rem;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  #addCustomerForm="ngForm" (ngSubmit)="onSubmitCustomer()">
                <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6">
                                <label class="form-control-label">
                                    First Name
                                </label>
                                <input class="form-control m-input" type="text" name="first-name" [(ngModel)]="customerAF.firstName" required placeholder="John">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-control-label">
                                Last Name
                                </label>
                                <input class="form-control m-input" type="text" name="last-name" [(ngModel)]="customerAF.lastName" required placeholder="Doe">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Phone
                                </label>
                                <input type="number" name="phone-number" [(ngModel)]="customerAF.phone" class="form-control m-input" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Date of Birth
                                </label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                            name="dp" [(ngModel)]="customerDOB" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append" style="width: 0px;">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                        </button>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Email
                                </label>
                                <input type="email" name="email" [(ngModel)]="customerAF.email" class="form-control m-input" required placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-9 col-md-9">
                                <label class="form-control-label">
                                    Gender
                                </label>
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerAF.gender" required value="Male"> 
                                        Male  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerAF.gender" required value="Female">
                                        Female  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerAF.gender" required value="Others">
                                        Others 
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <label class="form-control-label">
                                    Comments
                                </label>
                                <textarea class="form-control m-input" name="comments" [(ngModel)]="customerAF.comments" required placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" (click)="hideAddCustomerModal()" class="btn btn-secondary">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-accent" style="background-color: #1DB4BA; color: white;" [disabled]="addCustomerForm.invalid">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Update Customer MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade update-customer-modal" tabindex="-1" role="dialog" aria-labelledby="updateCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <span><img src="{{customerUF.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="50" width="50" alt="{{customerUF.firstName}}_image"/></span>
                <h1 class="modal-title" id="exampleModalLongTitle" style="margin-top: 0.9rem; margin-left: 5px; font-size: 20px;">{{customerUF.firstName}} {{customerUF.lastName}}</h1>
                <button type="button" class="close" (click)="hideUpdateCustomerModal()" style="margin-top: 0.9rem;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  #updateCustomerForm="ngForm" (ngSubmit)="onUpdateCustomer()">
                <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6">
                                <label class="form-control-label">
                                    First Name
                                </label>
                                <input class="form-control m-input" type="text" name="first-name" [(ngModel)]="customerUF.firstName" required placeholder="John">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-control-label">
                                Last Name
                                </label>
                                <input class="form-control m-input" type="text" name="last-name" [(ngModel)]="customerUF.lastName" required placeholder="Doe">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Phone
                                </label>
                                <input type="number" name="phone-number" [(ngModel)]="customerUF.phone" class="form-control m-input" disabled required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Date of Birth
                                </label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                            name="dp1" [(ngModel)]="customerDOB" ngbDatepicker #d1="ngbDatepicker">
                                    <div class="input-group-append" style="width: 0px;">
                                        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                        <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                        </button>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="form-control-label">
                                    Email
                                </label>
                                <input type="email" name="email" [(ngModel)]="customerUF.email" class="form-control m-input" required placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-9 col-md-9">
                                <label class="form-control-label">
                                    Gender
                                </label>
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerUF.gender" value="Male"> 
                                        Male  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerUF.gender" value="Female">
                                        Female  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [(ngModel)]="customerUF.gender" value="Others">
                                        Others 
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <label class="form-control-label">
                                    Comments
                                </label>
                                <textarea class="form-control m-input" name="comments" [(ngModel)]="customerUF.comments" required placeholder=""></textarea>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" (click)="hideUpdateCustomerModal()" class="btn btn-secondary">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-accent" style="background-color: #1DB4BA; color: white;" [disabled]="updateCustomerForm.invalid">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Service Deletion Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Customer</h5>
        <button type="button" class="close" (click)="hideConfirmDeleteModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete this customer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
   