.custom-alert{
    position: fixed;
    top: 12%;
    right: 5%;
    background-color: #5867dd;
    box-shadow: 1px 1px 5px 0px #5867dd;
    width: 300px;
    height: 50px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 0.7s;
    animation-delay: 0s;
    color: #ffffff;
}

@keyframes customToastr {
    from {opacity: 0; top: 5%;}
    to {opacity: 1; top: 10%;}
}

.m-form__help{
    color: red;
    font-size: 10px;
    font-weight: bolder;
}

.btn-save-profile{
    background-color: #5867dd;
    border-color: #5867dd;
    color: #ffffff;
}
