<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false">
        <strong>{{ alertMessage }}</strong>
    </div>
    
    <div class="m-content" style="padding: 10px;">
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet">
                    <div class="m-portlet__head" style="padding: 0.5rem 1rem; height: 4rem;">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" style="font-size: 1.8rem; color: #AAAAAA;">
                                    Profil
                                    <small>
    
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-wizard__form">
                            <form (ngSubmit)="updateProfile()" [formGroup]="updateProfileForm" class="m-form m-form--label-align-left- m-form--state-"
                                id="m_form">
                                <!--begin: Form Body -->
                                <div class="m-portlet__body">
                                    <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <div class="" style="height: 200px; width: 200px; background-color: #e5e5e5;">
                                                    <img src="{{stylistData.imageUrl}}" height="200" width="200">
                                                </div>
                                                <div style="width: 200px;">
                                                    <input class="form-control m-input" type="file" (change)="imagePreview($event.target.files)" style="width: 200px;" placeholder="ZZZZZZ"
                                                        name="imageUrl" accept=".jpg, .jpeg, .png">
                                                </div>
                                            </div>
                                            <div class="col-xl-8 offset-xl-1">
                                                <div class="m-form__section m-form__section--first">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Fornavn:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <input class="form-control m-input" type="text" name="firstName" formControlName="firstName" [(ngModel)]="stylistData.firstName"
                                                                placeholder="Fornavn">
                                                            <span class="m-form__help" *ngIf="updateProfileForm.controls['firstName'].invalid && updateProfileForm.controls['firstName'].touched">
                                                                *Længden skal være mellem 1-16 tegn
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Efternavn:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <input class="form-control m-input" type="text" formControlName="lastName" name="lastName" [(ngModel)]="stylistData.lastName"
                                                                placeholder="Efternavn">
                                                            <span class="m-form__help" *ngIf="updateProfileForm.controls['lastName'].invalid && updateProfileForm.controls['lastName'].touched">
                                                                *Længden skal være mellem 1-16 tegn
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * E-mail:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <input type="email" name="email" class="form-control m-input" formControlName="email" [(ngModel)]="stylistData.email" placeholder="E-mail">
                                                            <span class="m-form__help" *ngIf="updateProfileForm.controls['email'].invalid && updateProfileForm.controls['email'].touched">
                                                                *Dette felt er ugyldigt
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Mobil
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-phone"></i>
                                                                    </span>
                                                                </div>
                                                                <input type="text" name="mobile" class="form-control m-input" id="disabledInput" [(ngModel)]="stylistData.mobile" [ngModelOptions]="{standalone: true}"
                                                                    disabled placeholder="Mobil">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Køn:
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <select class="form-control m-input" name="gender" formControlName="gender" [(ngModel)]="stylistData.gender">
                                                                <option value="">Vælg valgmulighed</option>
                                                                <option value="Male">Mand</option>
                                                                <option value="Female">Kvinde</option>
                                                                <option value="Others">Andre</option>
                                                            </select>
                                                            <span class="m-form__help" *ngIf="updateProfileForm.controls['gender'].invalid && updateProfileForm.controls['gender'].touched">
                                                                *TDette felt er ugyldigt
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                            * Date of birth:
                                                        </label>
                                                        <div class="input-group col-xl-9 col-lg-9">
                                                            <input class="form-control" placeholder="DOB" name="dp" [(ngModel)]="stylistDOB" formControlName="dob" [maxDate]="maxDate"
                                                                ngbDatepicker #d="ngbDatepicker" style="padding: 5px;">
                                                            <div class="input-group-append">
                                                                <button class="btn" (click)="d.toggle()" type="button">
                                                                    <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                                                </button>
                                                            </div>
                                                            <div class="m-form__help" *ngIf="updateProfileForm.controls['dob'].invalid && updateProfileForm.controls['dob'].touched">
                                                                *Dette felt er ugyldigt
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">
                                                        </label>
                                                        <div class="col-xl-9 col-lg-9">
                                                            <button class="btn btn-block m-btn--square btn-save-profile" [disabled]="updateProfileForm.invalid">
                                                                GEM PROFIL
                                                            </button>
                                                           <!--  <button class="btn btn-success btn-block m-btn--square" type="button" (click)="onAddCustomers()">
                                                                ADD CUSTOMERS
                                                            </button>
                                                            <button class="btn btn-success btn-block m-btn--square" type="button" (click)="onDoTheMagic()">
                                                                DO THE MAGIC
                                                            </button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__foot m--hide">
                        <div class="row">
                            <div class="col-lg-6">
                                Portlet footer:
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                                <span class="m--margin-left-10">
                                    or
                                    <a href="#" class="m-link m--font-bold">
                                        Cancel
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- <div class="m-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Basic Portlet
                                        <small>
                                            portlet sub title
                                        </small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <form (ngSubmit)="onCalendarSubmit()">
                                  <input type="text" class="form-control" name="stylist" [(ngModel)]="calendar.stylist" placeholder="Stylist">
                                  <input type="text" class="form-control" name="calendar" [(ngModel)]="calendar.calendar" placeholder="Calendar">
                                  <button type="submit" class="btn btn-block">Submit</button>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>       
    </div>  -->