<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false">
    <strong>{{ alertMessage }}</strong>
</div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- ++++++++++++++++++++++++++++++++++++++++++ Spinner ++++++++++++++++++++++++++++++++++++++++++++++-->
<div [ngStyle]="{'display': isSpinner ? 'block' : 'none'}" style="z-index:2000; position: fixed; background-color: #fff; box-shadow: 2px 2px 5px #e0e0e0; top:50%; left: 45%;">
    <div class="m-blockui">
        <span>
            Vent venligst...
        </span>
        <span>
            <div class="m-loader m-loader--brand"></div>
        </span>
    </div>
</div>

<!-- +++++++++++++++++++++++++++++++++++All Stylist Section++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="m-content" style="padding: 10px;">
    <div class="m-portlet">
        <div class="m-portlet__head" style="padding: 0.5rem 1rem; height: 4rem;">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h1 class="m-portlet__head-text" style="font-size: 1.8rem; color: #AAAAAA;">
                        Stylister
                    </h1>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <input class="form-control" type="text" placeholder="Søg Stylist.." [(ngModel)]="stylistFilter">
                    </li>
                    <li class="m-portlet__nav-item">
                        <a class="btn btn-secondary m-btn m-btn--icon" (click)="showAddStylistModal()" ng-reflect-href="#">
                            <span>
                                <i class="fa fa-plus-circle" style="color: #5867dd;"></i>
                                <span>
                                    Tilføj Ny Stylist
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body" style="padding: 0.5rem 1rem;">
            <div class="table-responsive">
                <div class="m_datatable" id="ajax_data">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table m-table">
                                <thead style="background-color: #ECEEEF;">
                                    <tr>
                                        <th>
                                            Alder & køn
                                        </th>
                                        <th>
                                            Navn  & Mobil
                                        </th>
                                        <th>
                                            Log på/Email
                                        </th>
                                        <th>
                                            Services
                                        </th>
                                        <!-- <th>
                                            Total Hours
                                        </th> -->
                                        <th>
                                            Kommentarer
                                        </th>
                                        <th>
                                            Handlinger
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let stylist of filteredStylistArr" style="height: 100px; overflow: auto;">
                                        <td style="width: 13%;">
                                            <img src="{{stylist.imageUrl}}" height="60" width="90" style="object-fit:cover;" alt="{{stylist.firstName}}_image" />
                                            <div style="margin-top: 5px;">
                                                <span>{{stylist.age}}</span>
                                                <i class="fa fa-mars" *ngIf="stylist.gender == 'Male'" id="male-icon"></i>
                                                <i class="fa fa-venus" *ngIf="stylist.gender == 'Female'" id="female-icon"></i>
                                                <i class="fa fa-genderless" *ngIf="stylist.gender == 'Others'" id="others-icon"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <strong>{{stylist.firstName}} {{stylist.lastName}}</strong>
                                            <p>{{stylist.mobile}}</p>
                                        </td>
                                        <td>
                                            {{stylist.email}}
                                        </td>
                                        <td style="width: 15%;">
                                            <span class="badge badge-pill badge-service" *ngFor="let service of stylist.servicesNames" style="font-size: 80%;">
                                                {{service}}
                                            </span>
                                        </td>
                                        <td style="width: 23%;">
                                            {{stylist.comments}}
                                        </td>
                                        <td style="width: 13%;">
                                            <span>
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </span>
                                            <span (click)="setStylistForUpdate(stylist)">
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                            <span (click)="setDeleteId(stylist)">
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Add Stylist Modal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade add-stylist-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Ny Stylist</h5>
                <button type="button" class="close" (click)="hideAddStylistModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="stylistAddForm" (ngSubmit)="onSubmitStylist()">
                <div class="modal-body" style="padding: 0px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row" style="padding: 10px 10px 0px 10px; margin-bottom: 0px;">
                            <div class="col-md-2">
                                <div class="" style="height: 80px; width: 80px; background-color: #e5e5e5;">
                                    <img src="{{stylistAddF.imageUrl}}" height="80" width="80">
                                </div>
                                <div style="width: 80px;">
                                    <input class="form-control" type="file" formControlName="imageUrl" (change)="imagePreview($event.target.files)" style="width: 80px; padding: 0px; background-color: #1DB4BA; border-width: 0px;"
                                        placeholder="" name="imageUrl" accept=".jpg, .jpeg, .png">
                                </div>
                                <span class="m-form__help" *ngIf="stylistAddForm.controls['imageUrl'].invalid && stylistAddForm.controls['imageUrl'].touched">
                                    *Dette felt er påkrævet
                                </span>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input class="form-control" name="firstName" formControlName="firstName" [(ngModel)]="stylistAddF.firstName" type="text"
                                            placeholder="Fornavn">
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['firstName'].invalid && stylistAddForm.controls['firstName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" name="lastName" formControlName="lastName" [(ngModel)]="stylistAddF.lastName" type="text" placeholder="Efternavn">
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['lastName'].invalid && stylistAddForm.controls['lastName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input class="form-control" name="email" formControlName="email" [(ngModel)]="stylistAddF.email" type="email" placeholder="E-mail">
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['email'].invalid && stylistAddForm.controls['email'].touched">
                                            *Dette felt er ugyldigt
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group m-input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    +45
                                                </span>
                                            </div>
                                            <input class="form-control" name="mobile" formControlName="mobile" [(ngModel)]="stylistAddF.mobile" type="mobile" placeholder="Mobil">
                                        </div>
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['mobile'].invalid && stylistAddForm.controls['mobile'].touched">
                                            *Længde skal være 8
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="input-group" style="width: 80px;">
                                            <input class="form-control" placeholder="DOB" name="dp" formControlName="dob" [(ngModel)]="stylistDOB" [maxDate]="maxDate"
                                                ngbDatepicker #d="ngbDatepicker" style="padding: 5px;">
                                            <div class="input-group-append" style="width: 0px;">
                                                <button class="btn" (click)="d.toggle()" type="button" style="padding: 8.5px 5px;">
                                                    <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                                </button>
                                            </div>
                                            <span class="m-form__help" *ngIf="stylistAddForm.controls['dob'].invalid && stylistAddForm.controls['dob'].touched">
                                                *Dette felt er ugyldigt
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" name="gender" formControlName="gender" [(ngModel)]="stylistAddF.gender">
                                            <option value="">Køn</option>
                                            <option value="Male">Mand</option>
                                            <option value="Female">Kvinde</option>
                                            <option value="Others">Andre</option>
                                        </select>
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['gender'].invalid && stylistAddForm.controls['gender'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" name="color" formControlName="color" [(ngModel)]="stylistAddF.color">
                                            <option value="">Farve</option>
                                            <option *ngFor="let color of colorsArr" value="{{color.code}}">{{color.name}}</option>
                                        </select>
                                        <span class="m-form__help" *ngIf="stylistAddForm.controls['color'].invalid && stylistAddForm.controls['color'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="background-color: #ffffff; padding: 10px; margin:0px;">
                            <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
                                <label>Tjenester Tilbydes:</label>
                                <div class="form-group row" style="height: 200px; overflow: auto; margin-bottom: 0px;">
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Mand</th>
                                                <th>Min</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceMale of servicesMenArr; let iSM = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="servicesOff" id="{{iSM}}ism" (change)="selectService(serviceMale,iSM+'iSM',$event)"> {{serviceMale.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{iSM}}iSM" (change)="onChangeDuration(serviceMale, iSM, iSM+'iSM')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Kvinde</th>
                                                <th>Min</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceFemale of servicesWomenArr; let iSF = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="serviceOff" id="{{iSF}}isf" (change)="selectService(serviceFemale,iSF+'iSF',$event)"> {{serviceFemale.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{iSF}}iSF" (change)="onChangeDuration(serviceFemale, iSF, iSF+'iSF')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Børn</th>
                                                <th>Mins</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceChildren of servicesChildrenArr; let iSC = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="servicesOff" id="{{iSC}}isc" (change)="selectService(serviceChildren,iSC+'iSC',$event)"> {{serviceChildren.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{iSC}}iSC" (change)="onChangeDuration(serviceChildren, iSC, iSC+'iSC')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="background-color: #F0F0F0; padding: 10px; margin:0px;">
                            <div class="col-md-12" style="padding-left: 0px;">
                                <textarea class="form-control" name="comments" formControlName="comments" [(ngModel)]="stylistAddF.comments" placeholder="Kommentarer"></textarea>
                                <span class="m-form__help" *ngIf="stylistAddForm.controls['comments'].invalid && stylistAddForm.controls['comments'].touched">
                                    *Længden skal være mellem 1-100 tegn
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-secondary" (click)="hideAddStylistModal()">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-submit" [disabled]="stylistAddForm.invalid">
                                    Indsend
                                </button>
                                <!-- <pre>{{serviceAddF | json}}</pre> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++++++++++++++Opdatering Stylist Modal+++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade update-stylist-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Opdatering Stylist</h5>
                <button type="button" class="close" (click)="hideUpdateStylistModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="stylistUpdateForm" (ngSubmit)="onUpdateStylist()">
                <div class="modal-body" style="padding: 0px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row" style="padding: 10px 10px 0px 10px; margin-bottom: 0px;">
                            <div class="col-md-2">
                                <div class="" style="height: 80px; width: 80px; background-color: #e5e5e5;">
                                    <img src="{{stylistUpdateF.imageUrl}}" height="80" width="80">
                                </div>
                                <div style="width: 80px;">
                                    <input class="form-control" type="file" (change)="imagePreviewU($event.target.files)" style="width: 80px; padding: 0px; background-color: #5867dd; border-width: 0px;"
                                        placeholder="" name="imageUrl" accept=".jpg, .jpeg, .png">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input class="form-control" name="firstName" formControlName="firstName" [(ngModel)]="stylistUpdateF.firstName" type="text"
                                            placeholder="First Name">
                                        <span class="m-form__help" *ngIf="stylistUpdateForm.controls['firstName'].invalid && stylistUpdateForm.controls['firstName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" name="lastName" formControlName="lastName" [(ngModel)]="stylistUpdateF.lastName" type="text"
                                            placeholder="Last Name">
                                        <span class="m-form__help" *ngIf="stylistUpdateForm.controls['lastName'].invalid && stylistUpdateForm.controls['lastName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input class="form-control" name="email" formControlName="email" [(ngModel)]="stylistUpdateF.email" type="email" placeholder="Email">
                                        <span class="m-form__help" *ngIf="stylistUpdateForm.controls['email'].invalid && stylistUpdateForm.controls['email'].touched">
                                            *Dette felt er ugyldigt
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" name="mobile" [(ngModel)]="stylistUpdateF.mobile" [ngModelOptions]="{standalone: true}" type="mobile"
                                            disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="input-group" style="width: 80px;">
                                            <input class="form-control" placeholder="DOB" name="dpUpd" [(ngModel)]="stylistDOBU" formControlName="dob" [maxDate]="maxDate"
                                                ngbDatepicker #dUpd="ngbDatepicker" style="padding: 5px;">
                                            <div class="input-group-append" style="width: 0px;">
                                                <button class="btn" (click)="dUpd.toggle()" type="button" style="padding: 8.5px 5px;">
                                                    <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                                </button>
                                            </div>
                                            <span class="m-form__help" *ngIf="stylistUpdateForm.controls['dob'].invalid && stylistUpdateForm.controls['dob'].touched">
                                                *Dette felt er ugyldigt
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" name="gender" formControlName="gender" [(ngModel)]="stylistUpdateF.gender">
                                            <option value="">Køn</option>
                                            <option value="Male">Mand</option>
                                            <option value="Female">Kvinde</option>
                                            <option value="Others">Andre</option>
                                        </select>
                                        <span class="m-form__help" *ngIf="stylistUpdateForm.controls['gender'].invalid && stylistUpdateForm.controls['gender'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" name="color" formControlName="color" [(ngModel)]="stylistUpdateF.color">
                                            <option value="">Color</option>
                                            <option *ngFor="let color of colorsArr" value="{{color.code}}">{{color.name}}</option>
                                        </select>
                                        <span class="m-form__help" *ngIf="stylistUpdateForm.controls['color'].invalid && stylistUpdateForm.controls['color'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="background-color: #ffffff; padding: 10px; margin:0px;">
                            <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
                                <label>Tjenester Tilbydes:</label>
                                <div class="form-group row" style="height: 200px; overflow: auto; margin-bottom: 0px;">
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Mand</th>
                                                <th>Min</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceMale of servicesMenArr; let i = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="servicesOff" id="{{i}}iSMS" (change)="selectServiceU(serviceMale,i,i+'iSMS',$event)"> {{serviceMale.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{i}}iSMD" (change)="onChangeDurationU(serviceMale, i, i+'iSMD')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Kvinde</th>
                                                <th>Min</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceFemale of servicesWomenArr; let i = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="serviceOff" id="{{i}}iSFS" (change)="selectServiceU(serviceFemale,i,i+'iSFS',$event)"> {{serviceFemale.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{i}}iSFD" (change)="onChangeDurationU(serviceFemale, i, i+'iSFD')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th scope="col">Børn</th>
                                                <th>Min</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let serviceChildren of servicesChildrenArr; let i = index">
                                                <td style="width: 70%;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="servicesOff" id="{{i}}iSCS" (change)="selectServiceU(serviceChildren,i,i+'iSCS',$event)"> {{serviceChildren.name}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width: 30%;">
                                                    <input class="form-control" type="number" id="{{i}}iSCD" (change)="onChangeDurationU(serviceChildren, i, i+'iSCD')" style="padding: 5px; width: 50px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="background-color: #F0F0F0; padding: 10px; margin:0px;">
                            <div class="col-md-12" style="padding-left: 0px;">
                                <textarea class="form-control" name="comments" formControlName="comments" [(ngModel)]="stylistUpdateF.comments" placeholder="Kommentarer"></textarea>
                                <span class="m-form__help" *ngIf="stylistUpdateForm.controls['comments'].invalid && stylistUpdateForm.controls['comments'].touched">
                                    *Længden skal være mellem 1-100 tegn
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-secondary" (click)="hideUpdateStylistModal()">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-update" [disabled]="stylistUpdateForm.invalid">
                                    Opdatering
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++Stylist Deletion Confirmation MOdal++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Slet Stylist</h5>
                <button type="button" class="close" (click)="hideConfirmDeleteModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                Er du sikker på, du vil slette denne stylist?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Afbestille</button>
                <button type="button" class="btn btn-danger" (click)="deleteStylist()">Slet</button>
            </div>
        </div>
    </div>
</div>