<!-- BEGIN: Subheader -->

    <!-- END: Subheader -->
    <div class="m-content" style="padding: 10px;">
        
        <div class="m-portlet m-portlet--mobile">
            <!-- <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            AJAX Datatable
                            <small>
                                data loaded from remote data source
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-ellipsis-h m--font-brand"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Create Post
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
                                                                Send Messages
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                            <span class="m-nav__link-text">
                                                                Upload File
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__section">
                                                        <span class="m-nav__section-text">
                                                            Useful Links
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                                    <li class="m-nav__item m--hide">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Submit
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> 
            </div> -->
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <!-- <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-4">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__label">
                                            <label>
                                                Status:
                                            </label>
                                        </div>
                                        <div class="m-form__control">
                                            <select class="form-control m-bootstrap-select" id="m_form_status">
                                                <option value="">
                                                    All
                                                </option>
                                                <option value="1">
                                                    Pending
                                                </option>
                                                <option value="2">
                                                    Delivered
                                                </option>
                                                <option value="3">
                                                    Canceled
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__label">
                                            <label class="m-label m-label--single">
                                                Type:
                                            </label>
                                        </div>
                                        <div class="m-form__control">
                                            <select class="form-control m-bootstrap-select" id="m_form_type">
                                                <option value="">
                                                    All
                                                </option>
                                                <option value="1">
                                                    Online
                                                </option>
                                                <option value="2">
                                                    Retail
                                                </option>
                                                <option value="3">
                                                    Direct
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                <span>
                                    <i class="la la-cart-plus"></i>
                                    <span>
                                        New Order
                                    </span>
                                </span>
                            </a>
                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                        </div>
                    </div>
                </div> -->
                <!--end: Search Form -->  		<!--begin: Datatable -->
                <div class="table-responsive">
                    <div class="m_datatable" id="ajax_data">
                            <div class="m-section">
                                    <div class="m-section__content">
                                        <table class="table m-table m-table--head-bg-success">
                                            <thead style="background-color: #1db4ba;">
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Stylists
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Duration
                                                    </th>
                                                    <th>
                                                        Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let service of servicesArr">
                                                    <td>
<!--                                                         <img src="{{service.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="30" width="30" alt="{{service.firstName}}_image"/>
 -->                                                        {{service.name}}
                                                    </td>
                                                    <td>
                                                        {{service.stylist}}
                                                    </td>
                                                    <td>
                                                        {{service.description}}
                                                    </td>
                                                    <td>
                                                        {{service.duration}} Mins
                                                    </td>
                                                    <td>
                                                        ${{service.price}}
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
</div>

<!-- <button class="btn btn-success btn-block" id="m_sweetalert_demo_9"></button>
<div class="col-lg-12">
    
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Inputs Highlighted Validation State
                    </h3>
                </div>
            </div>
        </div>
        
        <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="m_form_2">
            <div class="m-portlet__body">
                <div class="m-form__content">
                    <div class="m-alert m-alert--icon alert alert-warning m--hide" role="alert" id="m_form_2_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            Oh snap! Change a few things up and try submitting again.
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Email *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <input type="text" class="form-control m-input" name="email" placeholder="Enter your email">
                        <span class="m-form__help">
                            We'll never share your email with anyone else.
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        URL *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" name="url" placeholder="Enter your url">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    .via.com
                                </span>
                            </div>
                        </div>
                        <span class="m-form__help">
                            Please enter your website URL.
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Digits
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" name="digits" placeholder="Enter digits">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-calculator"></i>
                                </span>
                            </span>
                        </div>
                        <span class="m-form__help">
                            Please enter only digits
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Credit Card
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" name="creditcard" placeholder="Enter card number">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-credit-card"></i>
                                </span>
                            </div>
                        </div>
                        <span class="m-form__help">
                            Please enter your credit card number
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        US Phone
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" name="phone" placeholder="Enter phone">
                            <div class="input-group-append">
                                <a href="#" class="btn btn-brand">
                                    <i class="la la-phone"></i>
                                </a>
                            </div>
                        </div>
                        <span class="m-form__help">
                            Please enter your US phone number
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Option *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <select class="form-control m-input" name="option">
                            <option value="">
                                Select
                            </option>
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                        </select>
                        <span class="m-form__help">
                            Please select an option.
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Options *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <select class="form-control m-input" name="options" multiple size="5">
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                        </select>
                        <span class="m-form__help">
                            Please select at least one or maximum 4 options
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Memo *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <textarea class="form-control m-input" name="memo" placeholder="Enter a menu"></textarea>
                        <span class="m-form__help">
                            Please enter a menu within text length range 10 and 100.
                        </span>
                    </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Checkbox *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input type="checkbox" name="checkbox">
                                Tick me
                                <span></span>
                            </label>
                        </div>
                        <span class="m-form__help">
                            Please tick the checkbox
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Checkboxes *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox">
                                <input type="checkbox" name="checkboxes">
                                Option 1
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" name="checkboxes">
                                Option 2
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" name="checkboxes">
                                Option 3
                                <span></span>
                            </label>
                        </div>
                        <span class="m-form__help">
                            Please select at lease 1 and maximum 2 options
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Radios *
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="checkbox" name="radio">
                                Option 1
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="checkbox" name="radio">
                                Option 2
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="radio">
                                Option 3
                                <span></span>
                            </label>
                        </div>
                        <span class="m-form__help">
                            Please select an option
                        </span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="submit" class="btn btn-accent">
                                Validate
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form
    </div>
    <!--end::Portlet
</div> -->

    
    