
<div class="deletion-alert" *ngIf="message" (close)="message = false"><strong>{{ deletionMessage }}</strong></div>


<!-- <pre>Model: {{ model | json }}</pre> -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" id="detail_modal">
  <div class="modal-dialog modal-dialog-centered" role="document" id="detail-modal-dialog">
    <div class="modal-content" *ngFor="let event of eventToShowArr">
        <div class="modal-header" style="padding: 10px;">
            <i class="fa fa-user-circle" style="font-size: 25px; margin-right: 5px;"></i>
            <h4 class="modal-title">{{event.customer}}</h4>
            <button class="btn btn-default" id="btn-edit" (click)="openEditModal()">Edit</button>
            <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeDetailModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding: 5px 10px 20px 10px;">
              <p>Booking for:</p>
              <div class="row">
                <div class="col-md-4 date-time">
                         <div id="time">
                              <p id="start">{{event.start}}</p>
                              <p id="end">{{event.end}}</p>
                          </div>
                          <div id="date1">
                              <p id="day">{{event.day}}</p>
                          </div>
                          <div id="date2">
                              <h3 id="weekday">{{event.weekDay}}</h3>
                              <h1 id="month">{{event.month}}</h1>
                          </div> 
                </div>
                <div class="col-md-7 details">
                          <!-- <div id="services" class="col-md-4">
                              <span *ngFor="let service of event.services" id="service">
                                {{service}}
                              </span>
                          </div> -->
                          <!-- <ul class="list-group" id="services" style="width: 40%; ">
                            <li class="list-group-item" id="service" *ngFor="let service of event.services" style="border: 0px; border-right: 5px solid #e0e0e0; padding: 0px; border-radius: 0px;">
                                    {{service}}
                            </li>
                          </ul> -->
                            <!-- <div id="vertical_divider"></div> -->
                          <!-- <div id="stylist_howOften" class="col-md-6">
                              <strong><span id="hairstylist">{{event.stylist}}</span></strong><br>
                              <span>{{event.how_often}}</span>
                          </div> -->
                          <!-- <ul class="list-group" id="stylist_howOften" style="width: 50%  ">
                                <li class="list-group-item" id="hairstylist" style="border: 0px; border-right: 5px solid #e0e0e0; padding: 0px; border-radius: 0px;">
                                        <strong>{{event.stylist}}</strong>
                                </li>
                                <li class="list-group-item" style="border: 0px; border-right: 5px solid #e0e0e0; padding: 0px; border-radius: 0px;">
                                    
                                </li>
                          </ul> -->
                          <table class="table" style="width: 40%; display: inline-block; margin-bottom: 0px;  border-right: 1px solid #e0e0e0;" >
                                <tbody>
                                  <tr  *ngFor="let service of event.services">
                                    <td style="border: none; padding: 5px 0px;">{{service}} </td>
                                  </tr>
                                </tbody>
                          </table> 
                          <table class="table" style="display: inline-block; position: absolute; margin-bottom: 0px;">
                                <tbody>
                                  <tr>
                                    <td style="border: none; padding: 5px;"><strong>{{event.stylist}}</strong></td>
                                  </tr>
                                  <tr>
                                    <td style="border: none; padding: 5px;">{{event.how_often}} </td>
                                  </tr>
                                </tbody>
                          </table>    
                </div>
            </div>
              
            </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="modal" tabindex="-1" role="dialog" id="edit_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title">Edit Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeEditModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px 10px 20px 10px;">
                    <form #eventForm="ngForm" (ngSubmit)="onUpdateSubmit()">
                        <div class="m-portlet__body" style="padding: 10px;">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Customer Name:</label>
                                    <input class="form-control"type="text" name="c_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                            [inputFormatter]="formatter" [resultTemplate]="rt" placeholder="John Doe" 
                                             style="border: 2px solid #1db4ba;">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email:</label>
                                    <input class="form-control" type="text" name="customer" [(ngModel)]="eventUpdate.customer" placeholder="johnDoe@demo.com" style="border: 2px solid #1db4ba;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Stylists Name:</label>
                                    <select class="form-control" name="stylist" [(ngModel)]="eventUpdate.stylist" (change)="onSelectStylist($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="">--Select Stylist Name--</option>
                                        <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                    </select>
                                </div> 
                                <div class="form-group col-md-4">
                                    <label>Service 1:</label>
                                    <select class="form-control" name="services" (change)="onSelectServiceOne($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                    </select>
                                </div> 
                                <div class="form-group col-md-4">
                                    <label>Service 2:</label>
                                    <select class="form-control" name="services" (change)="onSelectServiceTwo($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                    </select>
                                </div>  
                            </div>
                            <!-- <div class="row">
                                
                            </div> -->
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Date:</label>
                                    <input class="form-control form-control-sm" name="date" [(ngModel)]="eventUpdate.date" type="date" (change)="onSelectDate()" style="border: 2px solid #1db4ba;">
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Time:</label>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="eight" [value]="8" autocomplete="off" (change)="onSelectTime($event.target.value)"> 8:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="nine" [value]="9" autocomplete="off" (change)="onSelectTime($event.target.value)"> 9:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="ten" [value]="10" autocomplete="off" (change)="onSelectTime($event.target.value)"> 10:00
                                        </label>
                                    </div>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="eleven" [value]="11" autocomplete="off" (change)="onSelectTime($event.target.value)"> 11:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="twelve" [value]="12" autocomplete="off" (change)="onSelectTime($event.target.value)"> 12:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                            <input type="radio" name="time" id="thirteen" [value]="13" autocomplete="off" (change)="onSelectTime($event.target.value)"> 13:00
                                        </label>
                                    </div>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="fourteen" [value]="14" autocomplete="off" (change)="onSelectTime($event.target.value)"> 14:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="fifteen" [value]="15" autocomplete="off" (change)="onSelectTime($event.target.value)"> 15:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                            <input type="radio" name="time" id="sixteen" [value]="16" autocomplete="off" (change)="onSelectTime($event.target.value)"> 16:00
                                        </label>
                                    </div>
                                </div>   
                            </div>
                            <div class="row">  
                                <div class="form-group col-sm-6">
                                    <label>Price:</label>
                                    <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                        <div class="input-group-prepend" >
                                            <span class="input-group-text" style="background-color: #aaa;">
                                                $
                                            </span>
                                        </div>
                                        <input type="text" class="form-control m-input" value="{{eventUpdate.price}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Duration:</label>
                                    <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                        <input type="text" class="form-control m-input" value="{{eventUpdate.duration}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="background-color: #aaa;">
                                                Mins
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <button class="btn btn-danger btn-block" (click)="deleteEvent()">
                                        DELETE</button>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-default btn-block" type="button" (click)="closeEditModal()">
                                        CANCEL</button>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-success btn-block" type="submit" [disabled]="!eventForm.valid" style="background-color: #1db4ba;">
                                        SAVE</button>
                            </div>                                 
                            
                        </div>
                        
                    </form>
            </div>
      </div> 
    </div>
</div>

<ng-template #rt let-r="result" let-t="term">
    {{r.name}} {{r.id}}
</ng-template>
<div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title">New Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <form class="m-form" #eventAddForm="ngForm" (ngSubmit)="onSubmit()"> 
                    <div class="m-portlet__body" style="padding: 10px;">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Customer Name:</label>
                                <input class="form-control"type="text" name="c_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                        [inputFormatter]="formatter" [resultTemplate]="rt" placeholder="John Doe" 
                                         style="border: 2px solid #1db4ba;">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Email:</label>
                                <input class="form-control" type="text" name="customer" [(ngModel)]="eventAdd.customer" placeholder="johnDoe@demo.com" style="border: 2px solid #1db4ba;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Stylists Name:</label>
                                <select class="form-control" name="stylist" [(ngModel)]="eventAdd.stylist" (change)="onSelectStylist($event.target.value)" style="border: 2px solid #1db4ba;">
                                    <option value="">--Select Stylist Name--</option>
                                    <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 1:</label>
                                <select class="form-control" name="services" (change)="onSelectServiceOne($event.target.value)" style="border: 2px solid #1db4ba;">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 2:</label>
                                <select class="form-control" name="services" (change)="onSelectServiceTwo($event.target.value)" style="border: 2px solid #1db4ba;">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                            </div>  
                        </div>
                        <!-- <div class="row">
                            
                        </div> -->
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Date:</label>
                                <input class="form-control form-control-sm" name="date" [(ngModel)]="eventAdd.date" type="date" (change)="onSelectDate()" style="border: 2px solid #1db4ba;">
                            </div>
                            <div class="form-group col-md-8">
                                <label>Time:</label>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="eight" [value]="8" autocomplete="off" (change)="onSelectTime($event.target.value)"> 8:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="nine" [value]="9" autocomplete="off" (change)="onSelectTime($event.target.value)"> 9:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                    <input type="radio" name="time" id="ten" [value]="10" autocomplete="off" (change)="onSelectTime($event.target.value)"> 10:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="eleven" [value]="11" autocomplete="off" (change)="onSelectTime($event.target.value)"> 11:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="twelve" [value]="12" autocomplete="off" (change)="onSelectTime($event.target.value)"> 12:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="thirteen" [value]="13" autocomplete="off" (change)="onSelectTime($event.target.value)"> 13:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fourteen" [value]="14" autocomplete="off" (change)="onSelectTime($event.target.value)"> 14:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fifteen" [value]="15" autocomplete="off" (change)="onSelectTime($event.target.value)"> 15:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="sixteen" [value]="16" autocomplete="off" (change)="onSelectTime($event.target.value)"> 16:00
                                    </label>
                                </div>
                            </div>   
                        </div>
                        <div class="row">  
                            <div class="form-group col-sm-6">
                                <label>Price:</label>
                                <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            $
                                        </span>
                                    </div>
                                    <input type="text" class="form-control m-input" value="{{eventAdd.price}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Duration:</label>
                                <div class="input-group m-input-group"  style="border: 2px solid #1db4ba;">
                                    <input type="text" class="form-control m-input" value="{{eventAdd.duration}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            Mins
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    <!-- <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                                
                                        
                              
                            </div>
                    </div> -->
                    <div class="modal-footer" style="background-color: #e0e0e0;">
                        <button class="btn btn-default col-md-4" type="button" (click)="closeAddModal()">
                            CANCEL</button>
                            <button class="btn btn-success col-md-4" type="submit" [disabled]="!eventAddForm.valid" style="background-color: #1db4ba;">
                            BOOK</button>
                    </div>
                    
                    
                    <!-- <div class="form-group">
                        <button class="btn btn-default col-md-4" type="cancel" (click)="closeAddModal()">
                        CANCEL</button>
                        <button class="btn btn-success float-right col-md-4" type="submit" [disabled]="!eventAddForm.valid" style="background-color: #1db4ba;">
                        BOOK</button>
                    </div> -->
                </form>
            </div>
            
        </div>
    </div>
</div>


<div id="main-section">
    <div id="stylists-holder">
        <div class="m-portlet m-portlet--mobile" id="stylist-card" *ngFor="let stylist of allStylistsArr">
            <div class="m-portlet__head" style="padding: 0rem;">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <!-- <h3 class="m-portlet__head-text">
                            Basic Portlet <small>portlet sub title</small>
                        </h3> -->
                        <img class="img-reponsive" src="{{stylist.imageUrl}}" width= "200px" height="130px" style="object-fit:cover;">
                    </div>			
                </div>
            </div>
            <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <p class="m-portlet__head-text" style="font-size: 15px; font-weight: solid;">
                                {{stylist.firstName}} {{stylist.lastName}}
                            </p>
                        </div>			
                    </div>
                    <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-dropdown__toggle">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 17px;"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">              
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">Select Color</span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-red" (click)="changeColor('#FFEBEE', $event)">Light Red</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-green" (click)="changeColor('#B2DFDB', $event)">Light Green</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-purple" (click)="changeColor('#E1BEE7', $event)">Light Purple</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-blue" (click)="changeColor('#BBDEFB', $event)">Light Blue</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
            </div>
            <div class="m-portlet__body" id="stylist-card-body">
                <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="200" style="overflow: auto; height: 350px;">
                 <div *ngFor="let event of eventArr" >
                      <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                            {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                            {{event.customer}}
                      </div>
                                <!--<div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                    {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                                </div>
                                <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                    {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                                </div>
                                <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                    {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                            </div>
                            <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                            </div>
                            <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                            </div>
                            <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                                {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                        </div>
                        <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                            {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                        </div>
                        <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                            {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                        </div>
                        <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                            {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                    </div>
                    <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                        {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                    </div>
                    <div id="eventId" *ngIf="event.stylist == stylist.id" (click)="eventClick(event)">
                        {{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}
                    </div>-->

                 </div>
                </div>
            </div>
    </div>
    </div>
</div>



<button class="btn" (click)="addEventClick()" id="add-event-btn"><i class="fa fa-plus" style="color: white;"></i></button>

<!-- <button class="btn btn-success" (click)="c()">Add Event</button> -->
