<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<ng-template #rt let-r="result" let-t="term">
        {{r.name}}
</ng-template>

<div class="m-content" style="padding: 10px;">
        <div class="m-portlet">
            <!-- <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Adjusted Tabs
                        </h3>
                    </div>
                </div>
            </div> -->
            <div class="m-portlet__body">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#m_tabs_all_services">
                            All Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_add_service">
                            Add Service
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- ++++++++++++++++++++++++++++++++++ All Services Tab ++++++++++++++++++++++++++++++++++++++++  -->
                    <div class="tab-pane active" id="m_tabs_all_services" role="tabpanel">      
                            <div class="m-content" style="padding: 0px;">   
                                <div class="m-portlet m-portlet--mobile">
                                       <!--  <div class="alert alert-success alert-dismissible fade show" *ngIf="isDeleted" role="alert" >
                                                <strong>Service Deleted Successfully</strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div> -->
                                        <!-- <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        AJAX Datatable
                                                        <small>
                                                            data loaded from remote data source
                                                        </small>
                                                    </h3>
                                                </div>
                                            </div>-->
                                        <div class="m-portlet__body">
                                            <!--begin: Search Form -->
                                            <!--<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-8 order-2 order-xl-1">
                                                        <div class="form-group m-form__group row align-items-center">
                                                            <div class="col-md-4">
                                                                <div class="m-form__group m-form__group--inline">
                                                                    <div class="m-form__label">
                                                                        <label>
                                                                            Status:
                                                                        </label>
                                                                    </div>
                                                                    <div class="m-form__control">
                                                                        <select class="form-control m-bootstrap-select" id="m_form_status">
                                                                            <option value="">
                                                                                All
                                                                            </option>
                                                                            <option value="1">
                                                                                Pending
                                                                            </option>
                                                                            <option value="2">
                                                                                Delivered
                                                                            </option>
                                                                            <option value="3">
                                                                                Canceled
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none m--margin-bottom-10"></div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="m-form__group m-form__group--inline">
                                                                    <div class="m-form__label">
                                                                        <label class="m-label m-label--single">
                                                                            Type:
                                                                        </label>
                                                                    </div>
                                                                    <div class="m-form__control">
                                                                        <select class="form-control m-bootstrap-select" id="m_form_type">
                                                                            <option value="">
                                                                                All
                                                                            </option>
                                                                            <option value="1">
                                                                                Online
                                                                            </option>
                                                                            <option value="2">
                                                                                Retail
                                                                            </option>
                                                                            <option value="3">
                                                                                Direct
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none m--margin-bottom-10"></div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="m-input-icon m-input-icon--left">
                                                                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                        <span>
                                                                            <i class="la la-search"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                                        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                                            <span>
                                                                <i class="la la-cart-plus"></i>
                                                                <span>
                                                                    New Order
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!--end: Search Form -->  		<!--begin: Datatable -->
                                            <div class="table-responsive">
                                                <div class="m_datatable" id="ajax_data">
                                                    <div class="m-section">
                                                        <div class="m-section__content">
                                                            <table class="table m-table">
                                                                <thead style="background-color: #ECEEEF;">
                                                                    <tr>
                                                                        <th>
                                                                            Title
                                                                        </th>
                                                                        <!-- <th>
                                                                            Stylists
                                                                        </th> -->
                                                                        <th>
                                                                            Description
                                                                        </th>
                                                                        <th>
                                                                            Duration
                                                                        </th>
                                                                        <th>
                                                                            Price
                                                                        </th>
                                                                        <th>
                                                                            Actions
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let service of servicesArr">
                                                                        <td>
                                                                            <!--<img src="{{service.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="30" width="30" alt="{{service.firstName}}_image"/>-->                                                    
                                                                            {{service.name}}
                                                                        </td>
                                                                        <!-- <td>
                                                                            {{service.stylist}}
                                                                        </td> -->
                                                                        <td>
                                                                            {{service.description}}
                                                                        </td>
                                                                        <td>
                                                                            {{service.duration}} Mins
                                                                        </td>
                                                                        <td>
                                                                            {{service.price}}
                                                                        </td>
                                                                        <td>
                                                                            <span><i class="fa fa-ellipsis-h"></i></span>
                                                                            <span> <i class="fa fa-edit" style="cursor: pointer" (click)="setServiceForUpdate(service)"></i> </span>
                                                                            <span> <i class="fa fa-trash" style="cursor: pointer" (click)="setDeleteId(service)"></i> </span>
                                                                        </td>
                                                                    </tr>  
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Datatable -->
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane" id="m_tabs_add_service" role="tabpanel">
                            <div class="row">
                                    <div class="col-lg-12">
                                        <div class="m-portlet">
                                            <!-- <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <h3 class="m-portlet__head-text">
                                                            Add Service
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!--begin::Form-->
                                            <form  #serviceAddForm="ngForm" (ngSubmit)="onSubmitService()" class="m-form m-form--state m-form--fit m-form--label-align-right">
                                                <div class="m-portlet__body">
                                                    <div class="m-form__section m-form__section--first">
                                                        <div class="form-group m-form__group row">
                                                            
                                                            <div class="col-lg-6 col-md-6">
                                                                <label class="form-control-label">
                                                                    * Search Stylist Name:
                                                                </label>
                                                                <div class="input-group m-input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="fa fa-search"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input class="form-control" type="text" name="s_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                                                    [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setStylist()" required placeholder="John Doe">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6">
                                                                    <label class="form-control-label">
                                                                        * Service Name:
                                                                    </label>
                                                                    <input type="text" name="service_name" [(ngModel)]="serviceAddF.name" class="form-control m-input" required placeholder="" value="">
                                                                </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <div class="col-lg-6 col-md-6 m-form__group-sub">
                                                                <label class="form-control-label">
                                                                    * Price:
                                                                </label>
                                                                <input type="number" name="service_price" [(ngModel)]="serviceAddF.price" class="form-control m-input" required placeholder="" value="">
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 m-form__group-sub">
                                                                <label class="form-control-label">
                                                                    * Duration:
                                                                </label>
                                                                <input type="number" name="service_duration" [(ngModel)]="serviceAddF.duration" class="form-control m-input" required placeholder="" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                                <div class="col-lg-12 col-md-12 m-form__group-sub">
                                                                    <label class="form-control-label">
                                                                        * Description:
                                                                    </label>
                                                                    <textarea class="form-control m-input" [(ngModel)]="serviceAddF.description" name="service_description" required placeholder="Enter a menu"></textarea>
                                                                    <span class="m-form__help">
                                                                        Please enter a menu within text length range 10 and 100.
                                                                    </span>         
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="m-separator m-separator--dashed m-separator--lg"></div> -->
                                                    <!-- <div class="m-form__section">
                                                        <div class="m-form__heading">
                                                            <h3 class="m-form__heading-title">
                                                                Billing Address
                                                                <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon flaticon-info" title="If different than the corresponding address"></i>
                                                            </h3>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <div class="col-lg-12">
                                                                <label class="form-control-label">
                                                                    * Address 1:
                                                                </label>
                                                                <input type="text" name="billing_address_1" class="form-control m-input" placeholder="" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <div class="col-lg-12">
                                                                <label class="form-control-label">
                                                                    Address 2:
                                                                </label>
                                                                <input type="text" name="billing_address_2" class="form-control m-input" placeholder="" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <div class="col-lg-5 m-form__group-sub">
                                                                <label class="form-control-label">
                                                                    * City:
                                                                </label>
                                                                <input type="text" class="form-control m-input" name="billing_city" placeholder="" value="">
                                                            </div>
                                                            <div class="col-lg-5 m-form__group-sub">
                                                                <label class="form-control-label">
                                                                    * State:
                                                                </label>
                                                                <input type="text" class="form-control m-input" name="billing_state" placeholder="" value="">
                                                            </div>
                                                            <div class="col-lg-2 m-form__group-sub">
                                                                <label  class="form-control-label">
                                                                    * ZIP:
                                                                </label>
                                                                <input type="text" class="form-control m-input" name="billing_zip" placeholder="" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                                    <div class="m-form__section">
                                                        <div class="m-form__heading">
                                                            <h3 class="m-form__heading-title">
                                                                Delivery Type
                                                            </h3>
                                                        </div>
                                                        <div class="form-group m-form__group">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label class="m-option">
                                                                        <span class="m-option__control">
                                                                            <span class="m-radio m-radio--state-brand">
                                                                                <input type="radio" name="billing_delivery" value="">
                                                                                <span></span>
                                                                            </span>
                                                                        </span>
                                                                        <span class="m-option__label">
                                                                            <span class="m-option__head">
                                                                                <span class="m-option__title">
                                                                                    Standart Delevery
                                                                                </span>
                                                                                <span class="m-option__focus">
                                                                                    Free
                                                                                </span>
                                                                            </span>
                                                                            <span class="m-option__body">
                                                                                Estimated 14-20 Day Shipping  									(&nbsp;Duties end taxes may be due  									upon delivery&nbsp;)
                                                                            </span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label class="m-option">
                                                                        <span class="m-option__control">
                                                                            <span class="m-radio m-radio--state-brand">
                                                                                <input type="radio" name="billing_delivery" value="">
                                                                                <span></span>
                                                                            </span>
                                                                        </span>
                                                                        <span class="m-option__label">
                                                                            <span class="m-option__head">
                                                                                <span class="m-option__title">
                                                                                    Fast Delevery
                                                                                </span>
                                                                                <span class="m-option__focus">
                                                                                    $&nbsp;8.00
                                                                                </span>
                                                                            </span>
                                                                            <span class="m-option__body">
                                                                                Estimated 2-5 Day Shipping 									(&nbsp;Duties end taxes may be due 									upon delivery&nbsp;)
                                                                            </span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="m-form__help">
                                                                must use this helper element to display error message for the options
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <button type="submit" class="btn btn-accent" [disabled]="serviceAddForm.invalid">
                                                                    Submit
                                                                </button>
                                                                <!-- <button type="reset" class="btn btn-secondary">
                                                                    Cancel
                                                                </button> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!--end::Form-->
                                        </div>
                                        <!--end::Portlet-->
                                    </div>
                                </div>   
                    </div>                      
                </div>                       
            </div>
        </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++Service Deletion Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Service</h5>
        <button type="button" class="close" (click)="hideConfirmDeleteModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteService()">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Service Edit Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade edit-service-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Service</h5>
            <button type="button" class="close" (click)="hideUpdateServiceModal()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <form  #serviceUpdateForm="ngForm" (ngSubmit)="onUpdateService()" class="m-form m-form--fit m-form--label-align-right">
            <div class="modal-body">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6 col-md-6">
                            <label class="form-control-label">
                                * Stylist Name:
                            </label>
                            <!-- <input type="text" name="stylist_name" class="form-control m-input" placeholder="" value=""> -->
                            <input class="form-control m-input" type="text" name="s_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                 [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setStylist()" required placeholder="John Doe">
                        </div>

                        <div class="col-lg-6 col-md-6">
                                <label class="form-control-label">
                                    * Service Name:
                                </label>
                                <input type="text" name="service_name" [(ngModel)]="serviceUpdateF.name" class="form-control m-input" required placeholder="" value="">
                            </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                * Price:
                            </label>
                            <input type="number" name="service_price" [(ngModel)]="serviceUpdateF.price" class="form-control m-input" required placeholder="" value="">
                        </div>
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                * Duration:
                            </label>
                            <input type="number" name="service_duration" [(ngModel)]="serviceUpdateF.duration" class="form-control m-input" required placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                            <div class="col-lg-12 col-md-12 m-form__group-sub">
                                <label class="form-control-label">
                                    * Description:
                                </label>
                                <textarea class="form-control m-input" [(ngModel)]="serviceUpdateF.description" name="service_description" required placeholder="Enter a menu"></textarea>
                                <!-- <span class="m-form__help">
                                    Please enter a menu within text length range 10 and 100.
                                </span>    -->      
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-accent" [disabled]="serviceUpdateForm.invalid">
                                Update
                            </button>
                            <button type="button" (click)="hideUpdateServiceModal()" class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      <!-- <div class="modal-body">
        Are you sure, you want to delete this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteService()">Delete</button>
      </div> -->
    </div>
  </div>
</div>
    