<div class="m-content">
    <div class="row">
       <div class="col-md-12">
              <div class="m-portlet">
                      <div class="m-portlet__head">
                          <div class="m-portlet__head-caption">
                              <div class="m-portlet__head-title">
                                  <span class="m-portlet__head-icon">
                                      <i class="flaticon-multimedia"></i>
                                  </span>
                                  <h3 class="m-portlet__head-text">
                                      Profile
                                      <small>
                                          
                                      </small>
                                  </h3>
                              </div>
                          </div>
                      </div>
                      <div class="m-portlet__body">
                              <div class="m-wizard__form">
                                              <!-- 1) Use m-form--label-align-left class to alight the form input lables to the right                 2) Use m-form--state class to highlight input control borders on form validation                 -->
                                              <form (ngSubmit)="updateProfileform.form.valid && updateProfile()" #updateProfileform="ngForm" class="m-form m-form--label-align-left- m-form--state-" id="m_form" >
                                                  <!--begin: Form Body -->
                                                  <div class="m-portlet__body">
                                                      <!--begin: Form Wizard Step 1-->
                                                      <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                                                          <div class="row">
                                                              <div class="col-xl-3">
                                                                  <div class="" style="height: 200px; width: 200px; background-color: #e5e5e5;">
                                                                      <img src="{{stylistData.imageUrl}}" height="200" width="200" >
                                                                              
                                                                  </div>
                                                                  <input class="form-control m-input" type="file" (change)="imagePreview($event)" style="width: 200px;" placeholder="" name="imageUrl">
                                                              </div>
                                                              <div class="col-xl-8 offset-xl-1">
                                                                  <div class="m-form__section m-form__section--first">
                                                                      <!-- <div class="m-form__heading">
                                                                          <h3 class="m-form__heading-title">
                                                                              Client Details
                                                                          </h3>
                                                                      </div> -->
                                                                      <div class="form-group m-form__group row">
                                                                          <label class="col-xl-3 col-lg-3 col-form-label">
                                                                              * First Name:
                                                                          </label>
                                                                          <div class="col-xl-9 col-lg-9">
                                                                                  <input class="form-control m-input" type="text" placeholder="First Name" name="firstName" [(ngModel)]="stylistData.firstName">
                                                                                  <!-- <span class="m-form__help">
                                                                                  Please enter your first name
                                                                              </span> -->
                                                                          </div>
                                                                      </div>
                                                                      <div class="form-group m-form__group row">
                                                                              <label class="col-xl-3 col-lg-3 col-form-label">
                                                                                  * Last Name:
                                                                              </label>
                                                                              <div class="col-xl-9 col-lg-9">
                                                                                      <input class="form-control m-input" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="stylistData.lastName">
                                                                                      <!-- <span class="m-form__help">
                                                                                      Please enter your last name
                                                                                  </span> -->
                                                                              </div>
                                                                          </div>
                                                                      <div class="form-group m-form__group row">
                                                                          <label class="col-xl-3 col-lg-3 col-form-label">
                                                                              * Email:
                                                                          </label>
                                                                          <div class="col-xl-9 col-lg-9">
                                                                              <input type="email" name="email" class="form-control m-input" id="disabledInput" placeholder="Email" [(ngModel)]="stylistData.email" disabled>
                                                                              <!-- <span class="m-form__help">
                                                                                  We'll never share your email with anyone else
                                                                              </span> -->
                                                                          </div>
                                                                      </div>
                                                                      <div class="form-group m-form__group row">
                                                                          <label class="col-xl-3 col-lg-3 col-form-label">
                                                                              * Phone
                                                                          </label>
                                                                          <div class="col-xl-9 col-lg-9">
                                                                              <div class="input-group">
                                                                                  <div class="input-group-prepend">
                                                                                      <span class="input-group-text">
                                                                                          <i class="la la-phone"></i>
                                                                                      </span>
                                                                                  </div>
                                                                                  <input type="text" name="mobile" class="form-control m-input" placeholder="Phone Number" value="" [(ngModel)]="stylistData.mobile">
                                                                              </div>
                                                                              <!-- <span class="m-form__help">
                                                                                  Enter your valid phone in phone format.
                                                                              </span> -->
                                                                          </div>
                                                                          
                                                                      </div>
                                                                      <div class="form-group m-form__group row">
                                                                              <label class="col-xl-3 col-lg-3 col-form-label">
                                                                                  * Gender:
                                                                              </label>
                                                                              <div class="col-xl-9 col-lg-9">
                                                                                  <select class="form-control m-input" name="gender" [(ngModel)]="stylistData.gender">
                                                                                      <option value="">Choose option</option>
                                                                                      <option value="male">Male</option>
                                                                                      <option value="female">Female</option>
                                                                                      <option value="others">Others</option>
                                                                                  </select>
                                                                                  <!-- <span class="m-form__help">
                                                                                      We'll never share your email with anyone else
                                                                                  </span> -->
                                                                              </div>
                                                                      </div>
                                                                      <div class="form-group m-form__group row">
                                                                              <label class="col-xl-3 col-lg-3 col-form-label">
                                                                                  * Age:
                                                                              </label>
                                                                              <div class="col-xl-9 col-lg-9">
                                                                                  <select class="form-control m-input" name="age" [(ngModel)]="stylistData.age">
                                                                                      <option value="0">Choose option</option>
                                                                                      <option *ngFor="let age of ages">{{age}}</option>
                                                                                  </select> 
                                                                                  <!-- <span class="m-form__help">
                                                                                      We'll never share your email with anyone else
                                                                                  </span> -->
                                                                              </div>
                                                                      </div>
                                                                      <div class="form-group m-form__group row">
                                                                          <label class="col-xl-3 col-lg-3 col-form-label">
                                                                              
                                                                          </label>
                                                                          <div class="col-xl-9 col-lg-9">
                                                                              <button id="m_login_signup_submit" class="btn btn-block m-btn--square" style="background-color: #1db4ba; border-color: #1db4ba;">
                                                                                  SAVE PROFILE
                                                                              </button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>                
                                              </form>
                                      </div>                                
                      </div>
                      <div class="m-portlet__foot m--hide">
                          <div class="row">
                              <div class="col-lg-6">
                                  Portlet footer:
                              </div>
                              <div class="col-lg-6">
                                  <button type="submit" class="btn btn-primary">
                                      Submit
                                  </button>
                                  <span class="m--margin-left-10">
                                      or
                                      <a href="#" class="m-link m--font-bold">
                                          Cancel
                                      </a>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
       </div>
    </div>
  </div>