<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<ng-template #rt let-r="result" let-t="term">
        {{r.name}}
</ng-template>

<div class="m-content" style="padding: 10px;">
        <div class="m-portlet">
            <div class="m-portlet__head" style="padding: 0.5rem 0.7rem; height: 4rem;">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h1 class="m-portlet__head-text">
                            Services
                        </h1>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a class="btn btn-secondary m-btn m-btn--icon" (click)="showAddServiceModal()" ng-reflect-href="#">
                                <span>
                                    <i class="fa fa-plus-circle" style="color: #1DB4BA;"></i>
                                    <span>
                                        Add New Service
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body" style="padding: 0.5rem 1rem;">
                    <div class="table-responsive">
                            <div class="m_datatable" id="ajax_data">
                                <div class="m-section">
                                    <div class="m-section__content">
                                        <table class="table m-table">
                                            <thead style="background-color: #ECEEEF;">
                                                <tr>
                                                    <th>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <!-- <th>
                                                        Stylists
                                                    </th> -->
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Duration
                                                    </th>
                                                    <th>
                                                        Price
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let service of servicesArr">
                                                    <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <!--<img src="{{service.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="30" width="30" alt="{{service.firstName}}_image"/>-->                                                    
                                                        {{service.name}}
                                                    </td>
                                                    <!-- <td>
                                                        {{service.stylist}}
                                                    </td> -->
                                                    <td>
                                                        {{service.description}}
                                                    </td>
                                                    <td>
                                                        {{service.duration}} Mins
                                                    </td>
                                                    <td>
                                                        {{service.price}}
                                                    </td>
                                                    <td>
                                                        <span><i class="fa fa-ellipsis-h"></i></span>
                                                        <span style="margin-left: 10px; cursor: pointer;"><i class="fa fa-edit" (click)="setServiceForUpdate(service)"></i> </span>
                                                        <span style="margin-left: 10px; cursor: pointer;"><i class="fa fa-trash" (click)="setDeleteId(service)"></i> </span>
                                                    </td>
                                                </tr>  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                     
            </div>
        </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++Service Deletion Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="padding: 10px;">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Service</h5>
        <button type="button" class="close" (click)="hideConfirmDeleteModal()" style="margin-top: 0rem;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
        Are you sure, you want to delete this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteService()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++Add Service MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade add-service-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header" style="padding: 10px;">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Service</h5>
            <button type="button" class="close" (click)="hideAddServiceModal()" style="margin-top: 0rem;">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form  #serviceAddForm="ngForm" (ngSubmit)="onSubmitService()">
            <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label class="form-control-label">
                                Search Stylist Name
                            </label>
                            <div class="input-group m-input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" name="s_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setStylist()" required placeholder="John Doe">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="form-control-label">
                                Service Name
                            </label>
                            <input type="text" name="service_name" [(ngModel)]="serviceAddF.name" class="form-control m-input" required placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                Price
                            </label>
                            <input type="number" name="service_price" [(ngModel)]="serviceAddF.price" class="form-control m-input" required placeholder="" value="">
                        </div>
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                Duration
                            </label>
                            <input type="number" name="service_duration" [(ngModel)]="serviceAddF.duration" class="form-control m-input" required placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 m-form__group-sub">
                            <label class="form-control-label">
                                Description
                            </label>
                            <textarea class="form-control m-input" [(ngModel)]="serviceAddF.description" name="service_description" required placeholder="Enter a menu"></textarea>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-secondary" (click)="hideAddServiceModal()">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-accent" [disabled]="serviceAddForm.invalid">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++Service Update MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade edit-service-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header" style="padding: 10px;">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Service</h5>
            <button type="button" class="close" (click)="hideUpdateServiceModal()" style="margin-top: 0rem;">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form  #serviceUpdateForm="ngForm" (ngSubmit)="onUpdateService()">
            <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6 col-md-6">
                            <label class="form-control-label">
                                * Stylist Name:
                            </label>
                            <!-- <input type="text" name="stylist_name" class="form-control m-input" placeholder="" value=""> -->
                            <input class="form-control m-input" type="text" name="s_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                 [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setStylist()" required placeholder="John Doe">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="form-control-label">
                                * Service Name:
                            </label>
                            <input type="text" name="service_name" [(ngModel)]="serviceUpdateF.name" class="form-control m-input" required placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                * Price:
                            </label>
                            <input type="number" name="service_price" [(ngModel)]="serviceUpdateF.price" class="form-control m-input" required placeholder="" value="">
                        </div>
                        <div class="col-lg-6 col-md-6 m-form__group-sub">
                            <label class="form-control-label">
                                * Duration:
                            </label>
                            <input type="number" name="service_duration" [(ngModel)]="serviceUpdateF.duration" class="form-control m-input" required placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                            <div class="col-lg-12 col-md-12 m-form__group-sub">
                                <label class="form-control-label">
                                    * Description:
                                </label>
                                <textarea class="form-control m-input" [(ngModel)]="serviceUpdateF.description" name="service_description" required placeholder="Enter a menu"></textarea>
                                <!-- <span class="m-form__help">
                                    Please enter a menu within text length range 10 and 100.
                                </span>    -->      
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" (click)="hideUpdateServiceModal()" class="btn btn-secondary">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-accent" [disabled]="serviceUpdateForm.invalid">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      <!-- <div class="modal-body">
        Are you sure, you want to delete this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteService()">Delete</button>
      </div> -->
    </div>
  </div>
</div>
    