.backdrop{ 
    background-color:rgba(15, 13, 13, 0.76);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 200;    
}

.show{
    display: block;
}

.custom-alert{
    position: fixed;
    display: block;
    top: 12%;
    right: 5%;
    background-color: #5867dd;
    box-shadow: 0px 0px 12px #5867dd;
    width: 300px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 0.7s;
    animation-delay: 0s;
    color: #ffffff;
    opacity: 0.9;
    word-wrap: break-word;
}

@keyframes customToastr {
    from {opacity: 0; top: 5%;}
    to {opacity: 1; top: 10%;}
}

.m-form__help{
    color: red;
    font-size: 10px;
    font-weight: bolder;
 }