<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>


<!-- ++++++++++++++++++++++++++++++++++++++++++ Spinner ++++++++++++++++++++++++++++++++++++++++++++++-->
<div [ngStyle]="{'display': isSpinner ? 'block' : 'none'}" style="z-index:2000; position: fixed; background-color: #fff; box-shadow: 2px 2px 5px #e0e0e0; top:50%; left: 45%;">
    <div class="m-blockui">
        <span>
            Vent venligst...
        </span>
        <span>
            <div class="m-loader m-loader--brand"></div>
        </span>
    </div>
</div>


<!-- BEGIN: Subheader -->
    <!-- END: Subheader -->
    <div class="m-content" style="padding: 10px;">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding: 0.5rem 1rem; height: 4rem;">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h1 class="m-portlet__head-text" style="font-size: 1.8rem; color: #AAAAAA;">
                            Kunder
                        </h1>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <input class="form-control" type="text" placeholder="Søg Kunde.." [(ngModel)]="listFilter">
                            <!-- <div class="input-group">
                                <input type="text" class="form-control" placeholder="Søg Kunde.." [(ngModel)]="listFilter" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filterProperty">
                                        <option value="firstName">First name</option>
                                        <option value="lastName">Last name</option>
                                        <option value="phone">Mobile</option>
                                        <option value="comments">Comments</option>
                                    </select>
                                </div>
                            </div> -->
                        </li>
                        <li class="m-portlet__nav-item">
                            <a class="btn btn-secondary m-btn m-btn--icon" (click)="showAddCustomerModal()" ng-reflect-href="#">
                                <span>
                                    <i class="fa fa-plus-circle" style="color: #5867dd;"></i>
                                    <span>
                                        Tilføj ny kunde
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
            <div class="m-portlet__body" style="padding: 0.5rem 1rem;">
                <div class="table-responsive">
                    <div class="m_datatable">
                            <div class="m-section">
                                    <div class="m-section__content">
                                        <table class="table m-table">
                                            <thead style="background-color: #ECEEEF;">
                                                <tr>
                                                    <!-- <th>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th> -->
                                                    <th>
                                                        Alder
                                                    </th>
                                                    <th>
                                                        Køn
                                                    </th>
                                                    <th>
                                                        Fornavn
                                                    </th>
                                                    <th>
                                                        Efternavn
                                                    </th>
                                                    <th>
                                                        Mobil
                                                    </th>
                                                    <th>
                                                        E-mail
                                                    </th>
                                                    <th>
                                                        Kommentarer
                                                    </th>
                                                    <th>
                                                        Handlinger
                                                    </th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let customer of filteredCustomerArr">
                                                    <!-- <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td> -->
                                                    <td>
                                                        {{customer.age}}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-mars" *ngIf="customer.gender == 'Male'" style="color: cyan; font-weight: bold;"></i>
                                                        <i class="fa fa-venus" *ngIf="customer.gender == 'Female'" style="color: pink; font-weight: bold;"></i> 
                                                        <i class="fa fa-genderless" *ngIf="customer.gender == 'Others'" style="color: cyan; font-weight: bold;"></i>
                                                    </td>
                                                    <td>
                                                        {{customer.firstName}}
                                                    </td>
                                                    <td>
                                                        {{customer.lastName}}
                                                    </td>
                                                    <td>
                                                        {{customer.phone}}
                                                    </td>
                                                    <td>
                                                        {{customer.email}}
                                                    </td>
                                                    <td>
                                                        {{customer.comments}}
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </a>
                                                        </span>
                                                        <span (click)="showUpdateCustomerModal(customer)">
                                                            <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </span>
                                                        <span (click)="setDeleteId(customer)">
                                                            <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>

<!-- ++++++++++++++++++++++++++++++++++++++Add New Customer MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade add-customer-modal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Tilføj Kunde</h5>
                <button type="button" class="close" (click)="hideAddCustomerModal()" style="margin-top: 0rem;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  [formGroup]="addCustomerForm" (ngSubmit)="onSubmitCustomer()">
                <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div class="" style="height: 80px; width: 80px; background-color: #e5e5e5;">
                                    <img src="{{customerAF.imageUrl}}" height="80" width="80" >        
                                </div>
                                <div style="width: 80px;">
                                    <input class="form-control" type="file" formControlName="imageUrl" (change)="imagePreview($event.target.files)" style="width: 80px; padding: 0px; background-color: #5867dd; border-width: 0px;" placeholder="" name="imageUrl" accept=".jpg, .jpeg, .png">
                                </div>
                                <span class="m-form__help" *ngIf="addCustomerForm.controls['imageUrl'].invalid && addCustomerForm.controls['imageUrl'].touched">
                                    *Dette felt er påkrævet
                                </span>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <!-- <label class="form-control-label">
                                            First Name
                                        </label> -->
                                        <input class="form-control" type="text" name="first-name" formControlName="firstName" [(ngModel)]="customerAF.firstName" placeholder="Fornavn">
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['firstName'].invalid && addCustomerForm.controls['firstName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <label class="form-control-label">
                                        Last Name
                                        </label> -->
                                        <input class="form-control" type="text" name="last-name" formControlName="lastName" [(ngModel)]="customerAF.lastName" placeholder="Efternavn">
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['lastName'].invalid && addCustomerForm.controls['lastName'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <!-- <label class="form-control-label">
                                            Email
                                        </label> -->
                                        <input class="form-control" type="email" name="email" formControlName="email" [(ngModel)]="customerAF.email" placeholder="E-mail">
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['email'].invalid && addCustomerForm.controls['email'].touched">
                                            *Indtast gyldig email
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <label class="form-control-label">
                                            Date of Birth
                                        </label> -->
                                        <div class="input-group" style="width: 140px;">
                                            <input class="form-control" placeholder="DOB"
                                                    name="dp" formControlName="dob" [(ngModel)]="customerDOB" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append" style="width: 0px;">
                                                <button class="btn" (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['dob'].invalid && addCustomerForm.controls['dob'].touched">
                                            *Dette felt er ugyldigt
                                        </span> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <!-- <label class="form-control-label">
                                            Phone
                                        </label> -->
                                        <div class="input-group m-input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    +45
                                                </span>
                                            </div>
                                            <input class="form-control" type="text" name="phone-number" formControlName="phone" [(ngModel)]="customerAF.phone" placeholder="Mobil">
                                        </div>
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['phone'].invalid && addCustomerForm.controls['phone'].touched">
                                            *Længden skal være 8 cifre
                                        </span>
                                    </div>
                                    <div class="col-md-6">                                        
                                        <!-- <label class="form-control-label">
                                            Gender
                                        </label> -->
                                        <div class="m-radio-inline">
                                            <label class="m-radio">
                                                <input type="radio" name="gender" formControlName="gender" [(ngModel)]="customerAF.gender" value="Male"> 
                                                Mand  
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="gender" formControlName="gender" [(ngModel)]="customerAF.gender" value="Female">
                                                Kvinde  
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="gender" formControlName="gender" [(ngModel)]="customerAF.gender" value="Others">
                                                Andre 
                                                <span></span>
                                            </label>
                                        </div>
                                        <span class="m-form__help" *ngIf="addCustomerForm.controls['gender'].invalid">
                                            *Dette felt er påkrævet
                                        </span>  
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <!-- <label class="form-control-label">
                                    Comments
                                </label> -->
                                <textarea class="form-control" name="comments" formControlName="comments" [(ngModel)]="customerAF.comments" placeholder="Kommentarer"></textarea>
                                <span class="m-form__help" *ngIf="addCustomerForm.controls['comments'].invalid && addCustomerForm.controls['comments'].touched">
                                    *Længden skal være mellem 1-100 tegn
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" (click)="hideAddCustomerModal()" class="btn btn-secondary">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-accent" style="background-color: #5867dd; color: white;" [disabled]="addCustomerForm.invalid">
                                    Tilføje
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Update Customer MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade update-customer-modal" tabindex="-1" role="dialog" aria-labelledby="updateCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <span><img src="{{customerUF.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="40" width="40" alt="{{customerUF.firstName}}_image"/></span>
                <h1 class="modal-title" id="exampleModalLongTitle" style="margin-top: 0.9rem; margin-left: 5px; font-size: 20px;">{{customerUF.firstName}} {{customerUF.lastName}}</h1>
                <button type="button" class="close" (click)="hideUpdateCustomerModal()" style="margin-top: 0.9rem;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  [formGroup]="updateCustomerForm" (ngSubmit)="onUpdateCustomer()">
                <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6">
                                <!-- <label class="form-control-label">
                                    First Name
                                </label> -->
                                <input class="form-control" type="text" name="first-name" formControlName="firstName" [(ngModel)]="customerUF.firstName" placeholder="Fornavn">
                                <span class="m-form__help" *ngIf="updateCustomerForm.controls['firstName'].invalid && updateCustomerForm.controls['firstName'].touched">
                                    *Længden skal være mellem 1-16 tegn
                                </span>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <!-- <label class="form-control-label">
                                  Last Name
                                </label> -->
                                <input class="form-control" type="text" name="last-name" formControlName="lastName" [(ngModel)]="customerUF.lastName" placeholder="Efternavn">
                                <span class="m-form__help" *ngIf="updateCustomerForm.controls['lastName'].invalid && updateCustomerForm.controls['lastName'].touched">
                                    *Længden skal være mellem 1-16 tegn
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-4">
                                <!-- <label class="form-control-label">
                                    Phone
                                </label> -->
                                <input class="form-control" type="text" name="phone-number" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerUF.phone"  disabled>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <!-- <label class="form-control-label">
                                    Date of Birth
                                </label> -->
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" name="dp1" [(ngModel)]="customerDOBU" formControlName="dob" name="dob" [maxDate]="maxDate" ngbDatepicker #d1="ngbDatepicker" placeholder="DOB">
                                    <div class="input-group-append" style="width: 0px;">
                                        <button class="btn" (click)="d1.toggle()" type="button">
                                        <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer; color: black;"></i>
                                        </button>
                                    </div>
                                </div> 
                                <span class="m-form__help" *ngIf="updateCustomerForm.controls['dob'].invalid && updateCustomerForm.controls['dob'].touched">
                                    *Dette felt er ugyldigt
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <!-- <label class="form-control-label">
                                    Email
                                </label> -->
                                <input  class="form-control" type="email" name="email" formControlName="email" [(ngModel)]="customerUF.email" placeholder="E-mail">
                                <span class="m-form__help" *ngIf="updateCustomerForm.controls['email'].invalid && updateCustomerForm.controls['email'].touched">
                                    *Dette felt er ugyldigt
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-9 col-md-9">
                                <!-- <label class="form-control-label">
                                    Gender
                                </label> -->
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerUF.gender" value="Male"> 
                                        Mand  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerUF.gender" value="Female">
                                        Kvinde  
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="gender" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerUF.gender" value="Others">
                                        Andre 
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <!-- <label class="form-control-label">
                                    Comments
                                </label> -->
                                <textarea class="form-control" name="comments" formControlName="comments" [(ngModel)]="customerUF.comments" placeholder="Kommentarer"></textarea>
                                <span class="m-form__help" *ngIf="updateCustomerForm.controls['comments'].invalid && updateCustomerForm.controls['comments'].touched">
                                    *Længden skal være mellem 1-100 tegn
                                </span>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" (click)="hideUpdateCustomerModal()" class="btn btn-secondary">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-accent" style="background-color: #5867dd; color: white;" [disabled]="updateCustomerForm.invalid">
                                    Opdatering
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Service Deletion Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1"       
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Customer</h5>
        <button type="button" class="close" (click)="hideConfirmDeleteModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete this customer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
   