@media (min-width: 1024px){
    .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel {
        padding: 0px 20px;
    }
}

.m-menu__link:visited{
    background-color: aqua;
}

.active_link{
    border-bottom: 5px solid #1db;
    color: #1db;
    font-weight: bold;
}

#weather-widget{
    height: 45px;
    width: 150px;
    margin: 0.9rem 0px;
    background-color: #c5c1c1;
    padding: 0rem;
}

@media (max-width: 992px){
    #weather-widget{
        height: 40px;
        width: 150px;
        margin: 0.2rem 0px;
        background-color: #1db;
        padding: 0rem;
    }
}

#degree{
    position: relative;
    top: 5px;
    left: 10px;
}

