<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(./assets/app/media/img//bg/login-bg-smaller.jpg);">
	<div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
		<div class="m-login__container">
			<div class="m-login__logo">
				<a href="#">
					<img class="img-fluid" src="./assets/app/media/img//logos/logo-w.png" width="400px" height="200px;">
				</a>
			</div>
			<div class="m-login__signin">
				<div class="m-login__head">
					<!-- <h3 class="m-login__title">
						<span class="label label-info">Sign In To Admin</span> 
						
					</h3> -->
				</div>

				<form (ngSubmit)="signinForm.form.valid && signin(signinForm)" #signinForm="ngForm" class="" action="">
								<ng-template #alertSignin></ng-template>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control m-input m-input--square" type="text" placeholder="Email" name="email" [(ngModel)]="stylistData.email" #email="ngModel" autocomplete="off">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
										   <input class="form-control m-input m-input--square" type="password" placeholder="Password" name="password" [(ngModel)]="stylistData.password" #password="ngModel">
										</div>
									</div>
								</div>
								<div class="row m-login__form-sub">
									<!-- <div class="col m--align-left m-login__form-left">
										<label class="m-checkbox  m-checkbox--light">
											<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
											<input type="checkbox" name="remember">
											Remember me
											<span></span>
										</label>
									</div> -->
									<div class="col m--align-right m-login__form-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link" style="color: white;">
											Forgot Your Password ?
										</a>
									</div>
								</div>
								<div class="form-group">
									<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-block m-btn--square" style="background-color: #1db4ba; border-color: #1db4ba;">
										LOG IN
									</button>
								</div>
							</form>
							<!-- <div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<button [disabled]="loading" (click)="loginGoogle()" [ngClass]="{'m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn m-btn--square" style="background-color: #e0583f; border-color: #e0583f;">
											<i class="fa fa-google-plus-square" style="margin-right: 20px; color: white;"></i>Google
										</button>
									</div>	
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<button [disabled]="loading" (click)="loginFb()" [ngClass]="{'m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn m-btn--square" style="background-color: #4b6faa; border-color: #4b6faa;">
											<i class="fa fa-facebook-square" style="margin-right: 20px; color: white;"></i>Facebook
										</button>
									</div>	
								</div>
							</div> -->

							<div class="m-login__account">
									<span class="m-login__account-msg" style="color: white;">
										Don't have an account yet ?
									</span>
									&nbsp;&nbsp;
									<a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
										Sign Up
									</a>
								</div>

							<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<button [disabled]="loading" (click)="loginGoogle()" [ngClass]="{'m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-block m-btn--square" style="background-color: #e0583f; border-color: #e0583f;">
												<i class="fa fa-google-plus-square" style="margin-right: 10px; color: white;"></i><span style="color:white;">Google</span>
											</button>
										</div>	
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<button [disabled]="loading" (click)="loginFb()" [ngClass]="{'m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-block m-btn--square" style="background-color: #4b6faa; border-color: #4b6faa;">
												<i class="fa fa-facebook-square" style="margin-right: 10px; color: white;"></i><span style="color:white;">Facebook</span>
											</button>
										</div>	
									</div>
							</div>
			</div>
			
			<div class="m-login__signup">
				<div class="m-login__head">
					<h3 class="m-login__title">
					    Create a Profile
					</h3>
					<!-- <div class="m-login__desc">
						Enter your details to create your account:
					</div> -->
				</div>
				<form (ngSubmit)="signupform.form.valid && signup(signupform)" #signupform="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignup></ng-template>
					<div class="">
<!-- 						<div class="" style="height: 150px; width: 150px; background-color: #e5e5e5;"><img src="{selectedFile}}"></div>
 -->						<input class="form-control m-input" type="file" placeholder="Choose File" name="imageUrl" (change)="imagePreview($event)" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="stylistData.email" autocomplete="off" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="stylistData.password" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control" type="text" placeholder="First Name" name="firstName" [(ngModel)]="stylistData.firstName" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="stylistData.lastName" style="background-color: white;">
					</div>
					<div class="">
						<input class="form-control" type="text" placeholder="Mobile Number" name="mobile" [(ngModel)]="stylistData.mobile" style="background-color: white;">
					</div>
					<div class="row"  style="margin-right: 0px; ">
						<label class="col-md-4 col-sm-4" style="color: white;">Gender</label>
						<select class="form-control col-md-8 col-sm-8" name="gender" [(ngModel)]="stylistData.gender" style="background-color: white;">
							<option value="">Choose option</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="others">Others</option>
						</select>
					</div>
					<div class="row" style="margin-right: 0px;">
						<label class="col-md-4 col-sm-4" style="color: white;">Age</label>
						<select class="form-control col-md-8 col-sm-8" name="age" [(ngModel)]="stylistData.age" style="background-color: white;">
							<option value="0">Choose option</option>
							<option *ngFor="let age of ages">{{age}}</option>	 
						</select>
					</div>

					<div class="row m-login__form-sub">
						<div class="col m--align-left">
							<label class="m-checkbox m-checkbox--light">
								<input type="checkbox" name="agree" >
								I Agree the
								<a href="#" class="m-link m-link--focus">
									terms and conditions
								</a>
								.
								<span></span>
							</label>
							<span class="m-form__help"></span>
						</div>
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signup_submit" class="btn btn-block m-btn--square" style="background-color: #1db4ba; border-color: #1db4ba;">
							CREATE PROFILE
						</button>
						&nbsp;&nbsp;
						<!-- <button [disabled]="loading"  id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
							Cancel
						</button> -->
						<p>Already have an account? <a href="" id="m_login_signup_cancel">Sign in</a></p>
					</div>
				</form>
			</div>
			<div class="m-login__forget-password">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Forgotten Password ?
					</h3>
					<div class="m-login__desc">
						Enter your email to reset your password:
					</div>
				</div>
				<form (ngSubmit)="forgotForm.form.valid && forgotPass(forgotForm)" #forgotForm="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertForgotPass></ng-template>
					<div class="form-group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="stylistData.email" #email="ngModel" id="m_email" autocomplete="off" style="background-color: white;">
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit" class="btn btn-block m-btn--square btn-sm m-btn m-btn--custom " style="background-color: #1db4ba; border-color: #1db4ba;">
							Request
						</button>
						&nbsp;&nbsp;
						<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn btn-block btn-warning m-btn--square btn-sm m-btn m-btn--custom">
							Cancel
						</button>
					</div>
				</form>
			</div>
			
		</div>
		<div class="d-flex justify-content-center" style="margin-top: 5%;">
			<p class="p-2"><span style="color: white;">By logging into your Account you agree to our</span> <a href="#">Terms and Conditions, Privacy Policy, Cookies Policy</a></p>			
		</div>
	</div>
</div>
