.m-footer {
    padding: 1px 30px;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 40px;
    background: #ffffff;
    -webkit-box-shadow: -2px -8px 41px -14px rgba(202, 210, 222, 0.61);
    -moz-box-shadow: -2px -8px 41px -14px rgba(202, 210, 222, 0.61);
    box-shadow: -2px -8px 41px -14px rgba(202, 210, 222, 0.61);
}

@media (min-width: 993px){
    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    margin-left: 0px;
    margin-top: -40px;
}
}