<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false">
    <strong>{{ alertMessage }}</strong>
</div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal +++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- ++++++++++++++++++++++++++++++++++++++++++ Spinner ++++++++++++++++++++++++++++++++++++++++++++++-->
<div [ngStyle]="{'display': isSpinner ? 'block' : 'none'}" style="z-index:2000; position: fixed; background-color: #fff; box-shadow: 2px 2px 5px #e0e0e0; top:50%; left: 45%;">
	<div class="m-blockui">
		<span>
            Vent venligst...
		</span>
		<span>
			<div class="m-loader m-loader--brand"></div>
		</span>
	</div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++ Floating button +++++++++++++++++++++++++++++++++++-->
<div class="btn-float">
    <a class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="addEventFloatClick()" style="width: 40px; height: 40px;">
        <i class="la la-plus" style="color: white;"></i>
    </a>
</div>

<!-- +++++++++++++++++++++++++++++++++++Booking Details Modal +++++++++++++++++++++++++++++++++++-->
<div class="modal" tabindex="-1" role="dialog" id="detail_modal">
    <div class="modal-dialog modal-dialog-centered" role="document" id="detail-modal-dialog">
        <div class="modal-content" *ngFor="let eventDetail of eventToShowArr">
            <div class="modal-header" style="padding: 10px;">
                <span href="#" class="m-list-search__result-item">
                    <span class="m-list-search__result-item-pic">
                        <img class="m--img-rounded" src="{{eventDetail.cimageUrl}}" height="35px" width="35px" title="">
                    </span>
                    <span class="m-list-search__result-item-text" style="margin-left: 5px; font-size: 17px;">
                        {{eventDetail.customer}}
                    </span>
                </span>
                <span href="#" class="m-list-search__result-item" style="margin-top: 7px; margin-left: 25px;">
                    <span class="m-list-search__result-item-icon">
                        <i class="fa fa-phone" id="cphone"></i>
                    </span>
                    <span class="m-list-search__result-item-text">
                        {{eventDetail.cmobile}}
                    </span>
                </span>
                <!-- <button class="btn btn-default" id="btn-edit" (click)="openEditModal()">Edit</button> -->
                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" id="btn-edit" (click)="openEditModal()">
                    <i class="la la-edit"></i>
                </a>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeDetailModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px 10px 20px 10px;">
                <div class="row">
                    <div class="col-md-4 date-time">
                        <div id="time">
                            <p id="start">{{eventDetail.start}}</p>
                            <p id="end">{{eventDetail.end}}</p>
                        </div>
                        <div id="date1">
                            <p id="day">{{eventDetail.day}}</p>
                        </div>
                        <div id="date2">
                            <h3 id="weekday">{{eventDetail.weekDay}}</h3>
                            <h1 id="month">{{eventDetail.month}}</h1>
                        </div>
                    </div>

                    <div class="col-md-7 details">
                        <table class="table" style="width: 40%; display: inline-block; margin-bottom: 0px;  border-right: 1px solid #e0e0e0;">
                            <tbody>
                                <tr *ngFor="let serviceDetail of eventDetail.services">
                                    <td style="border: none; padding: 0px;">
                                        <span class="badge badge-pill badge-primary" style="font-size: 80%;">{{serviceDetail}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" style="display: inline-block; position: absolute; margin-bottom: 0px;">
                            <tbody>
                                <tr>
                                    <td style="border: none; padding: 5px;">
                                        <strong>{{eventDetail.stylist}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: none; padding: 5px;">{{eventDetail.how_often}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->


<!-- +++++++++++++++++++++++++++++++++++Add New Booking Modal Form +++++++++++++++++++++++++++++++++++-->
<ng-template #rt let-r="result" let-t="term">
    {{r.name}} ({{r.phone}})
</ng-template>
<div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title" id="exampleModalLongTitle">Ny Reservation</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <!-- <div class="progress" style="height: 3px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="height: 3px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':slotsProgress}"></div>
                </div> -->
                <form class="m-form" [formGroup]="eventAddForm" (ngSubmit)="onSubmit()">
                    <div class="m-portlet__body" style="padding: 10px 10px 0px 10px;">
                        <div class="row booking-row">
                            <div class="form-group col-sm-6">
                                <label>Kundenavn:</label>
                                <div class="input-group m-input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="cname" formControlName="cname" [(ngModel)]="model" [ngbTypeahead]="search"
                                        [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setCustomer()" placeholder="John Doe" autoFocus>
                                </div>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['cname'].invalid && eventAddForm.controls['cname'].touched">
                                    *Vælg Kunde
                                </span> 
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Mobil:</label>
                                <div class="input-group m-input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            +45
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="mobile" formControlName="mobile" [(ngModel)]="eventAddF.customer"
                                     placeholder="99000000">
                                </div>                                
                                <span class="m-form__help" *ngIf="eventAddForm.controls['mobile'].invalid && eventAddForm.controls['mobile'].touched">
                                    *Indtast Mobilnummer
                                </span>
                            </div>
                        </div>
                        <div class="row booking-row" style="background-color: #f0f0f0;">
                            <div class="form-group col-md-6">
                                <label>Stylist navn:</label>
                                <select class="form-control" name="stylist" formControlName="stylist" [(ngModel)]="eventAddF.stylist" (change)="onSelectStylist($event.target.value)">
                                    <option value="">--Vælg Stylist--</option>
                                    <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                </select>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['stylist'].invalid && eventAddForm.controls['stylist'].touched">
                                    *Vælg Stylist
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Kommentarer:</label>
                                <input class="form-control" type="text" name="comments" [ngModelOptions]="{standalone: true}" [(ngModel)]="eventAddF.comments" placeholder="Kommentarer">
                            </div>
                        </div>

                        <div class="row booking-row" style="background-color: #f0f0f0;">
                            <div class="form-group col-md-12">
                                <label>Services:</label>
                                <ul class="nav nav-fill nav-tabs" role="tablist" style="border-bottom: 1px solid #5867dd;">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#men_tab">
                                            Herrer
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#women_tab">
                                            Damer
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#children_tab">
                                            Børn
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="men_tab" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesMenArr; let i = index;">
                                                <input type="checkbox" name="services" class="servicesAddF" id="{{i}}ismSAF" (change)="onSelectService(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="women_tab" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesWomenArr; let i = index;">
                                                <input type="checkbox" name="services" class="servicesAddF" id="{{i}}isfSAF" (change)="onSelectService(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="children_tab" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesChildrenArr; let i = index;">
                                                <input type="checkbox" name="services" class="servicesAddF" id="{{i}}iscSAF" (change)="onSelectService(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="m-form__help" *ngIf="services_validation">
                                    *Vælg mindst en tjeneste
                                </span>
                            </div>
                        </div>
                        <div class="row booking-row">
                            <div class="form-group col-md-4">
                                <label>Dato:</label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate" name="dp1" formControlName="date" [(ngModel)]="eventAddF.date"
                                        (ngModelChange)="setStartTimeArr()" ngbDatepicker #d1="ngbDatepicker">
                                    <div class="input-group-append" style="width: 0px;">
                                        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                            <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer;"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['date'].invalid && eventAddForm.controls['date'].touched">
                                    *Dato Ugyldig
                                </span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Starttidspunkt:</label>
                                <select class="form-control" name="startTime" [(ngModel)]="eventAddF.startTime" formControlName="startTime" (change)="setEndTimeArr($event.target.value)">
                                    <option value="">Starttidspunkt</option>
                                    <option value="{{time}}" *ngFor="let time of timeSlotStartArr">{{time}}</option>
                                </select>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['startTime'].invalid && eventAddForm.controls['startTime'].touched">
                                    *Vælg starttidspunkt
                                </span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Sluttid:</label>
                                <select class="form-control" name="endTime" [(ngModel)]="eventAddF.endTime" formControlName="endTime">
                                    <option value="">Sluttid</option>
                                    <option value="{{time}}" *ngFor="let time of timeSlotEndArr">{{time}}</option>
                                </select>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['endTime'].invalid && eventAddForm.controls['endTime'].touched">
                                    *Vælg sluttid
                                </span>
                            </div>

                            <!-- <div class="form-group col-md-8">
                                <label>Tid:
                                    <div class="m-loader m-loader--danger" *ngIf="isLoading" style="width: 30px; display: inline-block;"></div>
                                </label>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4" id="nineLabel">
                                        <input type="radio" name="time" id="nine" formControlName="time" [value]="9" (change)="onSelectTime(9)"> 9:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4" id="tenLabel">
                                        <input type="radio" name="time" id="ten" formControlName="time" [value]="10" (change)="onSelectTime(10)"> 10:00
                                    </label>
                                    <label class="btn btn-time col-md-3" id="elevenLabel">
                                        <input type="radio" name="time" id="eleven" formControlName="time" [value]="11" (change)="onSelectTime(11)"> 11:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4" id="twelveLabel">
                                        <input type="radio" name="time" id="twelve" formControlName="time" [value]="12" (change)="onSelectTime(12)"> 12:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4" id="thirteenLabel">
                                        <input type="radio" name="time" id="thirteen" formControlName="time" [value]="13" (change)="onSelectTime(13)"> 13:00
                                    </label>
                                    <label class="btn btn-time col-md-3" id="fourteenLabel">
                                        <input type="radio" name="time" id="fourteen" formControlName="time" [value]="14" (change)="onSelectTime(14)"> 14:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4" id="fifteenLabel">
                                        <input type="radio" name="time" id="fifteen" formControlName="time" [value]="15" (change)="onSelectTime(15)"> 15:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4" id="sixteenLabel">
                                        <input type="radio" name="time" id="sixteen" formControlName="time" [value]="16" (change)="onSelectTime(16)"> 16:00
                                    </label>
                                    <label class="btn btn-time col-md-3" id="seventeenLabel">
                                        <input type="radio" name="time" id="seventeen" formControlName="time" [value]="17" (change)="onSelectTime(17)"> 17:00
                                    </label>
                                </div>
                                <span class="m-form__help" *ngIf="eventAddForm.controls['time'].invalid && eventAddForm.controls['time'].touched">
                                    *Vælg Time Slot
                                </span>
                            </div> -->
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #f0f0f0;">
                        <!-- <pre>{{model | json}}</pre>
                        <pre>{{eventAddF.customer}}</pre> -->
                        <button class="btn btn-default col-md-4" type="button" (click)="closeAddModal()">
                            Afbestille</button>
                        <button class="btn btn-success col-md-4" type="submit" [disabled]="eventAddForm.invalid || services_validation" style="background-color: #5867dd;">
                            Bestil</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++++++++++Edit Booking Modal Form+++++++++++++++++++++++++++++++++++++++++-->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title" id="exampleModalLongTitle">Edit Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeEditModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <!-- <div class="progressU" style="height: 3px;">
                        <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="height: 3px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':slotsProgressU}"></div>
                    </div> -->
                <form class="m-form" [formGroup]="eventUpdateForm" (ngSubmit)="onUpdateSubmit()">
                    <div class="m-portlet__body" style="padding: 10px 10px 0px 10px;">
                        <div class="row booking-row">
                            <div class="form-group col-sm-6">
                                <label>Kundenavn:</label>
                                <input class="form-control" type="text" name="cname" [(ngModel)]="updateCustomer" [ngModelOptions]="{standalone: true}" disabled>
                                <!-- <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" type="text" name="cname" formControlName="cname" [(ngModel)]="model" [ngbTypeahead]="search" 
                                        [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setCustomer()" placeholder="John Doe">  
                                    </div>
                                    <span class="m-form__help" *ngIf="eventUpdateForm.controls['cname'].invalid && eventUpdateForm.controls['cname'].touched">
                                        *Select Customer
                                    </span> -->
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Mobil:</label>
                                <input class="form-control" type="text" name="mobile" [(ngModel)]="updateMobile" [ngModelOptions]="{standalone: true}"
                                    disabled>
                                <!-- <span class="m-form__help" *ngIf="eventUpdateForm.controls['mobile'].invalid && eventUpdateForm.controls['mobile'].touched">
                                        *Enter Mobile Number
                                    </span> -->
                            </div>
                        </div>
                        <div class="row booking-row" style="background-color: #f0f0f0;">
                            <div class="form-group col-md-6">
                                <label>Stylist navn:</label>
                                <select class="form-control" name="stylist" [(ngModel)]="eventUpdateF.stylist"  formControlName="stylist" (change)="onSelectStylistU($event.target.value)">
                                    <!-- <option value="">--Select Stylist Name--</option> -->
                                    <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                </select>
                                 <!-- <span class="m-form__help" *ngIf="eventUpdateForm.controls['stylist'].invalid && eventUpdateForm.controls['stylist'].touched">
                                        *Select Stylist
                                </span> -->
                            </div><!-- [ngModelOptions]="{standalone: true}" -->
                            <div class="form-group col-md-6">
                                <label>Kommentarer:</label>
                                <input class="form-control" type="text" name="comments" [ngModelOptions]="{standalone: true}" [(ngModel)]="eventUpdateF.comments" placeholder="Kommentarer">
                            </div>
                        </div>

                        <div class="row booking-row" style="background-color: #f0f0f0;">
                            <div class="form-group col-md-12">
                                <label>Services:</label>
                                <ul class="nav nav-fill nav-tabs" role="tablist" style="border-bottom: 1px solid #5867dd;">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#men_tab_u">
                                            Herrer
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#women_tab_u">
                                            Damer
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#children_tab_u">
                                            Børn
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="men_tab_u" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesMenArr; let ism = index">
                                                <input type="checkbox" name="services" class="servicesUpdate" id="{{ism}}ism" (change)="onSelectServiceU(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="women_tab_u" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesWomenArr; let isw = index">
                                                <input type="checkbox" name="services" class="servicesUpdate" id="{{isw}}isw" (change)="onSelectServiceU(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="children_tab_u" role="tabpanel">
                                        <div class="m-checkbox-inline">
                                            <label class="m-checkbox" *ngFor="let service of stylistServicesChildrenArr; let isc = index">
                                                <input type="checkbox" name="services" class="servicesUpdate" id="{{isc}}isc" (change)="onSelectServiceU(service, $event)"> {{service.name}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <span class="m-form__help" *ngIf="eventUpdateForm.controls['services'].invalid && eventUpdateForm.controls['services'].touched">
                                    *Vælg mindst en tjeneste
                                </span> -->
                                <span class="m-form__help" *ngIf="servicesU_validation">
                                    *Vælg mindst en tjeneste
                                </span>
                            </div>
                        </div>
                        <div class="row booking-row">
                            <div class="form-group col-md-4">
                                <label>Dato:</label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate" name="dp" [(ngModel)]="eventUpdateF.date" [ngModelOptions]="{standalone: true}"
                                        (ngModelChange)="setStartTimeArrU()" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append" style="width: 0px;">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer;"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- <span class="m-form__help" *ngIf="eventUpdateForm.controls['date'].invalid && eventUpdateForm.controls['date'].touched">
                                        *Select Date
                                    </span> -->
                            </div>
                            <div class="form-group col-md-4">
                                <label>Starttidspunkt:</label>
                                <select class="form-control" name="startTime" [(ngModel)]="eventUpdateF.startTime" formControlName="startTime" (change)="setEndTimeArrU($event.target.value)">
                                    <option value="">Starttidspunkt</option>
                                    <option value="{{time}}" *ngFor="let time of timeSlotStartArrU">{{time}}</option>
                                </select>
                                <span class="m-form__help" *ngIf="eventUpdateForm.controls['startTime'].invalid && eventUpdateForm.controls['startTime'].touched">
                                    *Vælg starttidspunkt
                                </span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Sluttid:</label>
                                <select class="form-control" name="endTime" [(ngModel)]="eventUpdateF.endTime" formControlName="endTime">
                                    <option value="">Sluttid</option>
                                    <option value="{{time}}" *ngFor="let time of timeSlotEndArrU">{{time}}</option>
                                </select>
                                <span class="m-form__help" *ngIf="eventUpdateForm.controls['endTime'].invalid && eventUpdateForm.controls['endTime'].touched">
                                    *Vælg sluttid
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #f0f0f0;">
                        <!-- <pre>{{model | json}}</pre>
                            <pre>{{eventAddF.customer}}</pre> -->
                        <button class="btn btn-danger col-md-4" type="button" (click)="deleteEvent()">
                            Slet</button>
                        <button class="btn btn-default col-md-4" type="button" (click)="closeEditModal()">
                            Afbestille</button>
                        <button class="btn btn-success col-md-4" type="submit" [disabled]="eventUpdateForm.invalid || servicesU_validation" style="background-color: #5867dd;">
                            Opdatering</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- +++++++++++++++++++++++++++++All Bookings and All Stylists Section ++++++++++++++++++++++++++++++-->
<div id="main-section">
    <div id="stylists-holder">
        <div class="m-portlet m-portlet--mobile" id="stylist-card" *ngFor="let stylist of allStylistsArr">
            <div class="m-portlet__head" style="padding: 0rem;">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <!-- <h3 class="m-portlet__head-text">
                            Basic Portlet <small>portlet sub title</small>
                        </h3> -->
                        <img class="img-reponsive" src="{{stylist.imageUrl}}" width="280px" height="130px" style="object-fit:cover;">
                    </div>
                </div>
            </div>
            <div class="m-portlet__head" id="stylist-card-head" [ngStyle]="{'background-color': stylist.color}" style="padding-right: 0px;">
                <div class="m-portlet__head-caption" style="width: 250px;">
                    <div class="m-portlet__head-title" style="overflow: hidden; width: 100%;">
                        <p class="m-portlet__head-text" style="font-size: 15px; font-weight: solid;">
                            {{stylist.firstName}} {{stylist.lastName}}
                        </p>
                    </div>
                </div>
                <div class="m-portlet__head-tools" style="padding-right: 0px;">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" style="padding-right: 0px;">
                            <a href="#" class="m-portlet__nav-link m-btn m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
                                <i class="la la-ellipsis-v"></i>
                            </a>
                            <div class="m-dropdown__wrapper" style="width: 150px;">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">Vælg Farve</span>
                                                </li>
                                                <li class="m-nav__item" style="height: 25px;" *ngFor="let color of colorsArr">
                                                    <a href="" class="m-nav__link">
                                                        <span class="m-nav__link-text" (click)="updateColor(color.code, stylist.id)">{{color.name}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body" id="stylist-card-body">
                <!-- +++++++++++++++++++++++++++++++++++Timeline+++++++++++++++++++++++++++++++++++-->
                <span id="timeline" [style.top]="timeline$ | async"></span>
                <table class="table table-hover" id="table-timescale" style="position: absolute;">
                    <tbody>
                        <tr (dblclick)="addEventClick(stylist.id, 8)">
                            <td class="timeslot-header">08:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 8)">
                            <td>08:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 8)">
                            <td>08:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 8)">
                            <td>08:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 9)">
                            <td class="timeslot-header">09:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 9)">
                            <td>09:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 9)">
                            <td>09:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 9)">
                            <td>09:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 10)">
                            <td class="timeslot-header">10:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 10)">
                            <td>10:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 10)">
                            <td>10:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 10)">
                            <td>10:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 11)">
                            <td class="timeslot-header">11:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 11)">
                            <td>11:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 11)">
                            <td>11:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 11)">
                            <td>11:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 12)">
                            <td class="timeslot-header">12:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 12)">
                            <td>12:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 12)">
                            <td>12:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 12)">
                            <td>12:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 13)">
                            <td class="timeslot-header">13:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 13)">
                            <td>13:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 13)">
                            <td>13:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 13)">
                            <td>13:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 14)">
                            <td class="timeslot-header">14:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 14)">
                            <td>14:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 14)">
                            <td>14:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 14)">
                            <td>14:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 15)">
                            <td class="timeslot-header">15:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 15)">
                            <td>15:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 15)">
                            <td>15:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 15)">
                            <td>15:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 16)">
                            <td class="timeslot-header">16:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 16)">
                            <td>16:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 16)">
                            <td>16:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 16)">
                            <td>16:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 17)">
                            <td class="timeslot-header">17:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 17)">
                            <td>17:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 17)">
                            <td>17:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 17)">
                            <td>17:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 18)">
                            <td class="timeslot-header">18:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 18)">
                            <td>18:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 18)">
                            <td>18:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 18)">
                            <td>18:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 19)">
                            <td class="timeslot-header">19:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 19)">
                            <td>19:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 19)">
                            <td>19:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 19)">
                            <td>19:45</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 20)">
                            <td class="timeslot-header">20:00</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 20)">
                            <td>20:15</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 20)">
                            <td>20:30</td>
                        </tr>
                        <tr (dblclick)="addEventClick(stylist.id, 20)">
                            <td>20:45</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngFor="let event of eventArr; let i = index;">
                    <div id="eventId" class="" *ngIf="event.stylist == stylist.id" [ngStyle]="{'background-color': stylist.color}" [style.top]="getPosition(event.startTime)+'px'"
                    [style.height]="getHeight(event.duration)" [style.width]="getWidth(event,i)+'px'" [style.left]="getLeft(event,i)+'px'"
                    (click)="eventClick(event)" (mouseenter)="showServices(event.services, event.startTime)" style="border: 1px solid#aaaaaa;">
            
                       <span *ngIf="getWidth(event,i) == 240">
                            <p>
                                <strong>{{event.c_name}}<span *ngIf="event.comments">({{event.comments}})</span></strong> | 
                                <span>({{event.c_mobile}})</span>
                            </p>
                            <p *ngIf="event.duration>29"><strong>{{event.startTime}}-{{event.endTime}}</strong></p>
                       </span>
                       <span *ngIf="getWidth(event,i) == 120">
                            <p><strong>{{event.c_name}}<span *ngIf="event.comments">({{event.comments}})</span></strong></p>
                            <p *ngIf="event.duration>15">({{event.c_mobile}})</p>
                            <p *ngIf="event.duration>29"><strong>{{event.startTime}}-{{event.endTime}}</strong></p>
                       </span>
                        
                        <div class="tooltiptext" *ngIf="getPosition(event.startTime) >= 120">
                            <ul class="m-nav">
                                <li class="m-nav__section m-nav__section--first" style="margin: 0px; text-align: left;">
                                    <p><strong>{{event.c_name}} <span *ngIf="event.comments">({{event.comments}})</span></strong></p> 
                                    <p>({{event.c_mobile}})</p>
                                    <p><strong>{{event.startTime}}-{{event.endTime}}</strong></p>
                                </li>
                                <li class="m-nav__section m-nav__section--first" style="margin: 0px; text-align: left;">
                                    <span *ngFor="let service of popOverServices;let i = index">{{service}}<span *ngIf="i < popOverServices.length-1">, </span></span>
                                </li>  
                            </ul>  
                        </div>
                        <div class="tooltiptextB" *ngIf="getPosition(event.startTime) < 120">
                            <ul class="m-nav">
                                <li class="m-nav__section m-nav__section--first" style="margin: 0px; text-align: left;">
                                    <p><strong>{{event.c_name}} <span *ngIf="event.comments">({{event.comments}})</span></strong></p> 
                                    <p>({{event.c_mobile}})</p>
                                    <p><strong>{{event.startTime}}-{{event.endTime}}</strong></p>
                                </li>
                                <li class="m-nav__section m-nav__section--first" style="margin: 0px; text-align: left;">
                                    <span *ngFor="let service of popOverServices; let i = index">{{service}}<span *ngIf="i < popOverServices.length-1">, </span></span>
                                </li>  
                            </ul>  
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>