.backdrop{ 
    background-color:rgba(15, 13, 13, 0.76);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 1024;    
}
    
.details, .date-time{
    background-color: #f0f0f0;
    padding: 10px;
    /* display: inline-block; */
    border-radius: 5px;
}

.details{
    /* position: absolute; */
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    /* width: 60%; */
}

.modal .modal-content .modal-body{
    padding: 5px;
    
}

#time, #date1, #date2{
    display: inline-block;
    height: 45px;
}

.date-time{
    padding: 0px 5px;
    margin-left: 15px;
    height: 30%;
}

#time{
    padding: 0px 5px 0px 0px;
    border-right: 2px solid #e5e5e5;
    font-weight: bold;
    font-size: 15px;
}

#start{
    margin: 0px;
}

#end{
    margin: 0px;
}

#date1{
    padding: 0px;
    margin: 0px;
    font-size: 45px;
    font-weight: regular;
}
#day{
    padding: 0px;
    margin: 0px;
}

#date2{
    padding: 0px;
}

#weekday{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

#month{
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#services, #stylist_howOften, #vertical_divider{
    display: inline-block;
    margin-left: 0px;
}

#services{
    padding: 0px 5px 0px 0px;
    font-size: 14px;
    height: 10%;   
}

#service{
    top: 0px;
    background-color: #f0f0f0;
    color: black;
    width: 100%;
}

#services ul li{
    list-style: none;
}

#services ul{
    margin-left: 0px;
}

#stylist_howOften{
    padding: 0px 5px 0px 15px;
}

#vertical_divider{
    height: 70%;
    position: absolute;
    border: 1px solid #e5e5e5;
}    

.custom-alert{
    position: fixed;
    top: 12%;
    right: 5%;
    background-color: #5867dd;
    box-shadow: 1px 1px 10px 0px #6a75c7;
    width: 300px;
    height: 50px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 0.7s;
    animation-delay: 0s;
    color: #ffffff;
}

@keyframes customToastr {
    from {opacity: 0; top: 5%;}
    to {opacity: 1; top: 10%;}
}

#btn-edit{
    position: absolute;
    left: 87%;
    background-color: #AAAAAA;
    z-index: 1;
}

.show{
    display: block;
}

.time-slot{
    margin-left: 0px;
}

.btn-time{
    background-color: #fff;
    color: #000000;
    border: 1px solid #e9e9e9;
    height: 33px;
}

.btn-time:hover{
    background-color: #858282;
}


.m-portlet #stylist-card-head{
    padding: 0 0.5rem;
    height: 2rem;
}

.m-portlet #stylist-card-body{
    padding: 0rem 0rem;
    position: relative;
    overflow: auto;
    height: 92%;
}

/* .m-portlet .m-portlet__foot:not(.m-portlet__no-border){
    background-color: #858282;
} */

.m-portlet__body #table-timescale tbody tr td{
    padding: 0px 5px;
    height: 30px;
    font-size: 11px;
    font-weight: lighter;
}

.m-portlet__body #table-timescale .timeslot-header{
    font-weight: bold;
    border-top: 2px solid #e9e9e9;
}

#eventId{
    position: absolute;
    top: 0px;
    margin: 0px 0px 0px 5px; 
    padding: 3px 0px 0px 5px; 
    border-radius: 3px;
    cursor: pointer;
    animation-name: eventAn;
    animation-duration: 0.5s;
    border: 1px solid#aaaaaa;
    font-size: 12px;
}

#eventId p{
    margin-bottom: 0px;
}

@keyframes eventAn {
    from {opacity: 0; margin-left: 60px;}
    to {opacity: 1; margin-left: 5px;}
}

#add-event-btn{
    height: 60px;
    width: 60px;
    position: fixed;
    right: 2%;
    bottom: 10%;
    border-radius: 50%;
    background-color: #5867dd;
    z-index: 0.9;
}

#main-section{
   height: 1760px;
   width: 100%;
   padding-left: 0px;
   overflow: hidden;
   padding-bottom: 0px;
}

#stylists-holder{
    overflow: auto;
    white-space: nowrap;
    height: 110%;
    width: 100%; 
    margin-bottom: 0px;
}

#stylist-card{
    width: 280px; 
    height: 90%; 
    display: inline-block; 
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 0px;
}

/* #stylist-card-body:nth-child(3n){
    background-color: #e5e5e5;
}

#stylist-card-body:nth-child(4n){
    background-color: #18ffff;
} */
/*
#stylist-card-body:nth-child(3n){
    background-color: #eb8686;
} */

/* #stylist-card-body:nth-child(4n){
    background-color: #ffffff;
}
 */


@media (min-width: 576px){
    #detail-modal-dialog{
        max-width: 600px;
    }
}

#table-row{
    border: none; 
    border-right: 2px solid black;
}

.has-error{
    border: 1px solid red;
}

#timeline{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 0.5px;
    background-color: red;
}

.m-radio--disabled{
    background-color: #e0e0e0;
}

.progress{
    display: none;
}

.m-form .m-form__help{
   color: red;
}

#cphone{
   margin-right: 5px; 
   padding: 2px; 
   width: 20px; 
   height: 20px; 
   border: 1px solid black; 
   border-radius: 50%;
}

.booking-row{
    margin-left: -10px;
    margin-right: -10px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-color: #dee2e6 #dee2e6 #5867dd;
    background-color: #fff;
}

.nav-item:hover{
   background-color: #e5e5e5;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #333B4B;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 102%;
    left: 45%; 
    margin-left: -60px;
    box-shadow: 0 0 7px 1px rgba(203,203,199,1);
}

.tooltiptext ul li p{
    margin-bottom: 0px;
}

#eventId:hover .tooltiptext{
    visibility:  visible;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333B4B transparent transparent transparent;
}

.tooltiptextB {
    visibility: hidden;
    width: 150px;
    background-color: #333B4B;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
    top: 108%;
    box-shadow: 0 0 7px 1px rgba(203,203,199,1);
}

.tooltiptextB ul li p{
    margin-bottom: 0px;
}

#eventId:hover .tooltiptextB{
    visibility:  visible;
}

.tooltiptextB::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333B4B transparent;
}

.btn-float{
   position: fixed;
   z-index: 1000;
   right: 2.5%;
   bottom: 10%;
}

