<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left" style="background-attachment:fixed; background-position: left; background-image: url(assets/app/media/img/bg/aside-navbar-bg-smaller.jpg);">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" style="padding: 0px 0px;">
			<li class="m-menu__section" id="aside-section">
		        <div id="date-widget">
					<div id="date1">
						<h5 id="day">{{currentDate.date}}</h5>
					</div>
					<div id="date2">
						<h5 id="weekday">{{currentDate.day}}</h5>
						<h5 id="month">{{currentDate.month}}</h5>
					</div> 
				</div>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<button class="btn btn-today btn-sm" (click)="selectToday()">Today</button>
					<button class="btn btn-tomorrow btn-sm" (click)="selectTomorrow()">Tomorrow</button>
				</div>
			</li>
			<li class="m-menu__section" style="margin: 0px auto; padding: 0px 40%;">
                <i class="la la-angle-up" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoPrev()"></i>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next" 
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:current.year, month: current.month}">
					</ngb-datepicker>
				</div>
			</li>
			<li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp1 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next" 
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:next.year, month: next.month}">
					</ngb-datepicker>
				</div>
			</li>
		    <li class="m-menu__section" id="aside-section">
				<div class="content m-menu__section-text">
					<ngb-datepicker #dp2 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
						[outsideDays]="outsideDays" (navigate)="date = $event.next" 
						(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
						[startDate]="{year:next2next.year, month: next2next.month}">
					</ngb-datepicker>
				</div>
			</li>
		    <li class="m-menu__section" style="margin: 0px auto; padding: 0px 40%;">
				<i class="la la-angle-down" style="color: #FFFFFF; font-size: 40px; cursor: pointer;" (click)="gotoNext()"></i>	
			</li>	
		
			<!-- <li class="m-menu__section" style="padding: 0 0px;">
				<div class="content m-menu__section-text" style=" margin: 0px auto; padding: 0px 10px; position: fixed;">
				    <div>
						<button class="btn btn-today btn-sm" (click)="selectToday()">Today</button>
						<button class="btn btn-tomorrow btn-sm" (click)="selectTomorrow()">Tomorrow</button>
					</div>
					<i class="fa fa-chevron-up" style="color: #FFFFFF; margin: 0px auto; cursor: pointer;" (click)="gotoPrev()"></i><br>
					<ngb-datepicker #dp [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
									[outsideDays]="outsideDays" (navigate)="date = $event.next" 
									(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
									[startDate]="{year:current.year, month: current.month}">
					</ngb-datepicker><br>
					<ngb-datepicker #dp1 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
									[outsideDays]="outsideDays" (navigate)="date = $event.next" 
									(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
									[startDate]="{year:next.year, month: next.month}">
					</ngb-datepicker><br>
					<ngb-datepicker #dp2 [(ngModel)]="model" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" 
									[outsideDays]="outsideDays" (navigate)="date = $event.next" 
									(ngModelChange)="onDateChange($event)" style="background-color: #f9f9f9;"
									[startDate]="{year:next2next.year, month: next2next.month}">
					</ngb-datepicker><br>
					
						
				</div>
			</li> -->
			<!-- <li class="m-menu__section" style="padding: 0 5px;">
				<div class="content m-menu__section-text" id="weather-widget">
						<h6>{{weatherProperties.name}}, {{weatherProperties.sys.country}}</h6>
						<p>{{weatherProperties.weather[0].description}}</p>
						<img [src]="'http://openweathermap.org/img/w/'+weatherProperties.weather[0].icon+'.png'" width="60px" height="60px">
						<span style="font-size: 30px; margin-bottom: 0px;"><strong>{{weatherProperties.main.temp}} </strong>
							<span style="position: absolute; top: 55%; left: 77%; font-size: 7px;">o</span>C
						</span>
				</div>
				<i class="m-menu__section-icon" id="widget-hidden-icon"><strong>{{weatherProperties.main.temp}} C</strong></i>
			</li> -->
			
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
