/* #weather-widget{
    margin: 0px 25px;
    width: 200px;
    padding: 10px; 
    background-color: #c5c1c1; 
    border-radius: 3px;
    position: fixed;
    bottom: 10%;
} */

@media (max-width:1220){
    #weather-widget{ 
        width: 20%; 
        
    }
}


.btn-today, .btn-tomorrow{
    margin-top: 3rem;
    background-color: #333B4B;
    border-color: 2px solid #555555;
    color: white;
}

.btn-today{ 
    width: 6rem;
    margin-right: 10px;
    margin-top: 0rem;
}

.btn-tomorrow{
    width: 9.6rem;
    margin-top: 0rem;
}

#widget-hidden-icon{
    background-color: #c5c1c1; 
    color: black; 
    font-size: 15px;
    height: 50px; 
    width: 30px; 
    border-radius: 50%; 
    padding: 10px;
}

#aside-section{
    padding: 0px 10px;
     margin-top: 5px;
}     

#date-widget{
    height: 60px;
    width: 98%;
    background-color: #333B4B;
    color: white;
    border-radius: 4px;
    margin-top: 0px;
    padding: 0rem 2rem;
  }
  
  #date1, #date2{
    display: inline-block;
  }
  
  #date2{
     margin-left: 0.5rem;
  }
  
  #date1 #day{
     font-size: 50px;
     font-weight: bold;
  }
  
  #date2 #weekday{
     font-size: 15px;
     padding: 0px;
     margin: 0px;
  }
  
  #date2 #month{
    font-size: 25px;
    font-weight: bold;
    width: 80px;
    text-align: center;
    letter-spacing: 17px;
    padding: 0px;
    margin: 0px;
  }
