#weather-widget{
    margin: 0px 25px;
    width: 200px;
    padding: 10px; 
    background-color: #c5c1c1; 
    border-radius: 3px;
    position: fixed;
    bottom: 5%;
}

@media (max-width:1220){
    #weather-widget{ 
        width: 20%; 
        
    }
}


.btn-today, .btn-tomorrow{
    margin-top: 3rem;
    background-color: #333B4B;
    border-color: 2px solid #555555;
    color: white;
}

.btn-today{ 
    width: 5.6rem;
}

.btn-tomorrow{
    width: 8.6rem;
}

#widget-hidden-icon{
    background-color: #c5c1c1; 
    color: black; 
    font-size: 15px;
    height: 50px; 
    width: 30px; 
    border-radius: 50%; 
    padding: 10px;
}

