@media (min-width: 1024px){
    .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel {
        padding: 0px 20px;
    }
}

.m-menu__link:visited{
    background-color: aqua;
}

.active_link{
    border-bottom: 5px solid #1db;
    color: #1db;
    font-weight: bold;
}