<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal +++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- +++++++++++++++++++++++++++++++++++Booking Details Modal +++++++++++++++++++++++++++++++++++-->
<div class="modal" tabindex="-1" role="dialog" id="detail_modal">
  <div class="modal-dialog modal-dialog-centered" role="document" id="detail-modal-dialog">
    <div class="modal-content" *ngFor="let event of eventToShowArr">
        <div class="modal-header" style="padding: 10px;">
            <i class="fa fa-user-circle" style="font-size: 25px; margin-right: 5px;"></i>
            <h4 class="modal-title">{{event.customer}}</h4>
            <button class="btn btn-default" id="btn-edit" (click)="openEditModal()">Edit</button>
            <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeDetailModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding: 5px 10px 20px 10px;">
              <p>Booking for:</p>
              <div class="row">
                <div class="col-md-4 date-time">
                         <div id="time">
                              <p id="start">{{event.start}}</p>
                              <p id="end">{{event.end}}</p>
                          </div>
                          <div id="date1">
                              <p id="day">{{event.day}}</p>
                          </div>
                          <div id="date2">
                              <h3 id="weekday">{{event.weekDay}}</h3>
                              <h1 id="month">{{event.month}}</h1>
                          </div> 
                </div>
                <div class="col-md-7 details">
                          <table class="table" style="width: 40%; display: inline-block; margin-bottom: 0px;  border-right: 1px solid #e0e0e0;" >
                                <tbody>
                                  <tr  *ngFor="let service of event.services">
                                    <td style="border: none; padding: 5px 0px;">{{service}} </td>
                                  </tr>
                                </tbody>
                          </table> 
                          <table class="table" style="display: inline-block; position: absolute; margin-bottom: 0px;">
                                <tbody>
                                  <tr>
                                    <td style="border: none; padding: 5px;"><strong>{{event.stylist}}</strong></td>
                                  </tr>
                                  <tr>
                                    <td style="border: none; padding: 5px;">{{event.how_often}} </td>
                                  </tr>
                                </tbody>
                          </table>    
                </div>
            </div>
              
            </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<!-- +++++++++++++++++++++++++++++++++++Edit Booking Modal Form +++++++++++++++++++++++++++++++++++-->
<div class="modal" tabindex="-1" role="dialog" id="edit_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title">Edit Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeEditModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px 10px 20px 10px;">
                    <form #eventForm="ngForm" (ngSubmit)="onUpdateSubmit()">
                        <div class="m-portlet__body" style="padding: 10px;">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Customer Name:</label>
                                    <input class="form-control"type="text" name="c_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                            [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setCustomer()" placeholder="John Doe" 
                                             style="border: 2px solid #1db4ba;">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email:</label>
                                    <input class="form-control" type="text" name="customer" [(ngModel)]="eventUpdate.customer" placeholder="johnDoe@demo.com" style="border: 2px solid #1db4ba;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Stylists Name:</label>
                                    <select class="form-control" name="stylist" [(ngModel)]="eventUpdate.stylist" (change)="onSelectStylist($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="">--Select Stylist Name--</option>
                                        <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                    </select>
                                </div> 
                                <div class="form-group col-md-4">
                                    <label>Service 1:</label>
                                    <select class="form-control" name="services" (change)="onSelectServiceOne($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                    </select>
                                </div> 
                                <div class="form-group col-md-4">
                                    <label>Service 2:</label>
                                    <select class="form-control" name="services" (change)="onSelectServiceTwo($event.target.value)" style="border: 2px solid #1db4ba;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                    </select>
                                </div>  
                            </div>
                            <!-- <div class="row">
                                
                            </div> -->
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Date:</label>
                                    <div class="input-group" style="width: 100px;">
                                        <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate"
                                               name="dp1" [(ngModel)]="eventUpdate.date" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-append" style="width: 0px;">
                                          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                            <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer;"></i>
                                          </button>
                                        </div>
                                    </div>   
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Time:</label>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="eight" [value]="8" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 8:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="nine" [value]="9" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 9:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="ten" [value]="10" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 10:00
                                        </label>
                                    </div>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="eleven" [value]="11" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 11:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="twelve" [value]="12" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 12:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                            <input type="radio" name="time" id="thirteen" [value]="13" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 13:00
                                        </label>
                                    </div>
                                    <div class="time-slot row">
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="fourteen" [value]="14" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 14:00
                                        </label>
                                        <label class="btn btn-time col-md-3 mr-4">
                                            <input type="radio" name="time" id="fifteen" [value]="15" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 15:00
                                        </label>
                                        <label class="btn btn-time col-md-3">
                                            <input type="radio" name="time" id="sixteen" [value]="16" autocomplete="off" (change)="onSelectTimeU($event.target.value)"> 16:00
                                        </label>
                                    </div>
                                </div>   
                            </div>
                            <div class="row">  
                                <div class="form-group col-sm-6">
                                    <label>Price:</label>
                                    <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                        <div class="input-group-prepend" >
                                            <span class="input-group-text" style="background-color: #aaa;">
                                                $
                                            </span>
                                        </div>
                                        <input type="text" class="form-control m-input" value="{{eventUpdate.price}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Duration:</label>
                                    <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                        <input type="text" class="form-control m-input" value="{{eventUpdate.duration}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="background-color: #aaa;">
                                                Mins
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <button class="btn btn-danger btn-block" type="button" (click)="deleteEvent()">
                                        DELETE</button>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-default btn-block" type="button" (click)="closeEditModal()">
                                        CANCEL</button>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-success btn-block" type="submit" [disabled]="!eventForm.valid" style="background-color: #1db4ba;">
                                        SAVE</button>
                            </div>                                 
                        </div>
                    </form>
            </div>
      </div> 
    </div>
</div>


<!-- +++++++++++++++++++++++++++++++++++Add New Booking Modal Form +++++++++++++++++++++++++++++++++++-->
<ng-template #rt let-r="result" let-t="term">
    {{r.name}} {{r.id}}
</ng-template>
<div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title" id="exampleModalLongTitle">New Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <form class="m-form" #eventAddForm="ngForm" (ngSubmit)="onSubmit()"> 
                    <div class="m-portlet__body" style="padding: 10px;">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Search Customer Name:</label>
                                <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" type="text" name="c_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                        [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setCustomer()" placeholder="John Doe">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Email:</label>
                                <input class="form-control" type="email" name="customer" [(ngModel)]="eventAddF.customer"  placeholder="johnDoe@demo.com" required>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Stylists Name:</label>
                                <select class="form-control" name="stylist" [(ngModel)]="eventAddF.stylist" (change)="onSelectStylist($event.target.value)" required>
                                    <option value="">--Select Stylist Name--</option>
                                    <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 1:</label>
                                <select class="form-control" name="serviceOne" (change)="onSelectServiceOne($event.target.value)" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                                <!-- <select class="form-control form-control--fixed m-bootstrap-select m_selectpicker" multiple data-max-options="2" required>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option> 
                                </select> -->
                               <!--  <select class="form-control m-bootstrap-select m_selectpicker" multiple id="select_picker">
                                    <option *ngFor="let service of serviceArr">
                                         {{service.name}}             
                                    </option>
                                    <option>
                                        Musturd        
                                   </option>
                                   <option>
                                    Musturd        
                               </option>
                                </select> -->
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 2:</label>
                                <select class="form-control" name="serviceTwo" (change)="onSelectServiceTwo($event.target.value)" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-4">
                                <!-- <label>Date:</label>
                                <input class="form-control m-input form-control-sm" name="date" [(ngModel)]="eventAdd.date" type="date" required (change)="onSelectDate()" style="border: 2px solid #1db4ba;"> -->
                                <label>Date:</label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate"
                                           name="dp" [(ngModel)]="eventAddF.date" ngbDatepicker #d="ngbDatepicker" required>
                                    <div class="input-group-append" style="width: 0px;">
                                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer;"></i>
                                      </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label>Time:</label>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="eight" [value]="8" required (change)="onSelectTime($event.target.value)" autocomplete="off"> 8:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="nine" [value]="9" required (change)="onSelectTime($event.target.value)" autocomplete="off"> 9:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                    <input type="radio" name="time" id="ten" [value]="10" required (change)="onSelectTime($event.target.value)" autocomplete="off"> 10:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="eleven" [value]="11" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 11:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="twelve" [value]="12" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 12:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="thirteen" [value]="13" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 13:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fourteen" [value]="14" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 14:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fifteen" [value]="15" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 15:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="sixteen" [value]="16" (change)="onSelectTime($event.target.value)" required autocomplete="off"> 16:00
                                    </label>
                                </div>
                            </div>   
                        </div>

                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                        
                        <div class="row">  
                            <div class="form-group col-sm-6">
                                <label>Price:</label>
                                <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            $
                                        </span>
                                    </div>
                                    <input type="text" class="form-control m-input" value="{{eventAddF.price}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Duration:</label>
                                <div class="input-group m-input-group"  style="border: 2px solid #1db4ba;">
                                    <input type="text" class="form-control m-input" value="{{eventAddF.duration}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            Mins
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    <div class="modal-footer" style="background-color: #e0e0e0;">
                        <button class="btn btn-default col-md-4" type="button" (click)="closeAddModal()">
                            CANCEL</button>
                        <button class="btn btn-success col-md-4" type="submit" [disabled]="eventAddForm.invalid" style="background-color: #1db4ba;">
                            BOOK</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h4 class="modal-title">New Booking</h4>
                <button type="button" style="margin-top: 0px;" class="close" aria-label="Close" (click)="closeAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <form class="m-form" #eventAddForm="ngForm" (ngSubmit)="onSubmit()"> 
                    <div class="m-portlet__body" style="padding: 10px;">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Customer Name:</label>
                                <input class="form-control" type="text" name="c_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                        [inputFormatter]="formatter" [resultTemplate]="rt" placeholder="John Doe">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Email:</label>
                                <input class="form-control" type="text" name="customer" [ngClass]="{'has-error':(customer.touched || customer.dirty) && customer.invalid}" 
                                         [(ngModel)]="eventF.customer" #customer="ngModel" placeholder="johnDoe@demo.com" required>
                                <span class="help-block" *ngIf="(customer.touched || customer.dirty) && customer.invalid">
                                    <span *ngIf="customer.errors.required" style="color: red;">This field is required</span>
                                </span>         
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Stylists Name:</label>
                                <select class="form-control" name="stylist" [ngClass]="{'has-error':(stylist.touched || stylist.dirty) && stylist.invalid}"
                                         [(ngModel)]="eventF.stylist" #stylist="ngModel" (change)="onSelectStylist($event.target.value)" required>
                                    <option value="">--Select Stylist Name--</option>
                                    <option *ngFor="let stylist of allStylistsArr" value={{stylist.id}}>{{stylist.firstName}} {{stylist.lastName}}</option>
                                </select>
                                <span class="help-block" *ngIf="(stylist.touched || stylist.dirty) && stylist.invalid">
                                    <span *ngIf="stylist.errors.required" style="color: red;">This field is required</span>
                                </span>
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 1:</label>
                                <select class="form-control" name="serviceOne" [ngClass]="{'has-error':(serviceOne.touched || serviceOne.dirty) && serviceOne.invalid}"
                                         [(ngModel)]="eventF.serviceOne" #serviceOne="ngModel" (change)="onSelectServiceOne($event.target.value)" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                               
                                <span class="help-block" *ngIf="(serviceOne.touched || serviceOne.dirty) && serviceOne.invalid">
                                    <span *ngIf="serviceOne.errors.required" style="color: red;">This field is required</span>
                                </span>
                            </div> 
                            <div class="form-group col-md-4">
                                <label>Service 2:</label>
                                <select class="form-control" name="serviceTwo" [ngClass]="{'has-error':(serviceTwo.touched || serviceTwo.dirty) && serviceTwo.invalid}"
                                      [(ngModel)]="eventF.serviceTwo" #serviceTwo="ngModel" (change)="onSelectServiceTwo($event.target.value)" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let service of serviceArr" value={{service.id}}>{{service.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="(serviceTwo.touched || serviceTwo.dirty) && serviceTwo.invalid">
                                    <span *ngIf="serviceTwo.errors.required" style="color: red;">This field is required</span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Date:</label>
                                <div class="input-group" style="width: 100px;">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate"
                                           name="dp" [ngClass]="{'has-error':(date.touched || date.dirty) && date.invalid}"
                                           [(ngModel)]="eventF.date" ngbDatepicker #d="ngbDatepicker" #date="ngModel" required>
                                    <div class="input-group-append" style="width: 0px;">
                                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar" style="font-weight: dark; cursor: pointer;"></i>
                                      </button>
                                    </div>
                                </div>
                                <span class="help-block" *ngIf="(date.touched || date.dirty) && date.invalid">
                                    <span *ngIf="date.errors.required" style="color: red;">This field is required</span>
                                </span>
                            </div>

                            <div class="form-group col-md-8">
                                <label>Time:</label>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="eight" [(ngModel)]="eventF.time" #time="ngModel" [value]="8" required autocomplete="off"> 8:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                    <input type="radio" name="time" id="nine" [(ngModel)]="eventF.time" #time="ngModel" [value]="9" required autocomplete="off"> 9:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                    <input type="radio" name="time" id="ten" [(ngModel)]="eventF.time" #time="ngModel" [value]="10" required autocomplete="off"> 10:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="eleven" [(ngModel)]="eventF.time" [value]="11" required autocomplete="off"> 11:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="twelve" [(ngModel)]="eventF.time" #time="ngModel" [value]="12" required autocomplete="off"> 12:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="thirteen" [(ngModel)]="eventF.time" #time="ngModel" [value]="13" required autocomplete="off"> 13:00
                                    </label>
                                </div>
                                <div class="time-slot row">
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fourteen" [(ngModel)]="eventF.time" #time="ngModel"[value]="14" required autocomplete="off"> 14:00
                                    </label>
                                    <label class="btn btn-time col-md-3 mr-4">
                                        <input type="radio" name="time" id="fifteen" [(ngModel)]="eventF.time" #time="ngModel" [value]="15" required autocomplete="off"> 15:00
                                    </label>
                                    <label class="btn btn-time col-md-3">
                                        <input type="radio" name="time" id="sixteen" [(ngModel)]="eventF.time" #time="ngModel" [value]="16" required autocomplete="off"> 16:00
                                    </label>
                                </div>
                                <span class="help-block" *ngIf="(time.touched || time.dirty) && time.invalid">
                                    <span *ngIf="time.errors.required" style="color: red;">This field is required</span>
                                </span>
                            </div>   
                        </div>

                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                        
                        <div class="row">  
                            <div class="form-group col-sm-6">
                                <label>Price:</label>
                                <div class="input-group m-input-group" style="border: 2px solid #1db4ba;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            $
                                        </span>
                                    </div>
                                    <input type="text" class="form-control m-input" value="{{eventF.price}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Duration:</label>
                                <div class="input-group m-input-group"  style="border: 2px solid #1db4ba;">
                                    <input type="text" class="form-control m-input" value="{{eventF.duration}}" placeholder="" aria-describedby="basic-addon1" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: #aaa;">
                                            Mins
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    <div class="modal-footer" style="background-color: #e0e0e0;">
                        <button class="btn btn-default col-md-4" type="button" (click)="closeAddModal()">
                            CANCEL</button>
                        <button class="btn btn-success col-md-4" type="submit" [disabled]="eventAddForm.invalid" style="background-color: #1db4ba;">
                            BOOK</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div> -->

<!-- +++++++++++++++++++++++++++++++++++All Bookings and All Stylists Section +++++++++++++++++++++++++++++++++++-->
<div id="main-section">
    <div id="stylists-holder">
        <div class="m-portlet m-portlet--mobile" id="stylist-card" *ngFor="let stylist of allStylistsArr">
            <div class="m-portlet__head" style="padding: 0rem;">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <!-- <h3 class="m-portlet__head-text">
                            Basic Portlet <small>portlet sub title</small>
                        </h3> -->
                        <img class="img-reponsive" src="{{stylist.imageUrl}}" width= "200px" height="130px" style="object-fit:cover;">
                    </div>			
                </div>
            </div>
            <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <p class="m-portlet__head-text" style="font-size: 15px; font-weight: solid;">
                                {{stylist.firstName}} {{stylist.lastName}}
                            </p>
                        </div>			
                    </div>
                    <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-dropdown__toggle">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper" style="width: 150px;">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 17px;"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">              
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">Select Color</span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-red" (click)="updateColor('#FF5252', stylist.id)">Light Red</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-pink" (click)="updateColor('#F8BBD0', stylist.id)">Light Pink</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-orange" (click)="updateColor('#FFAB91', stylist.id)">Light Orange</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-green" (click)="updateColor('#B2DFDB', stylist.id)">Light Green</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-purple" (click)="updateColor('#E1BEE7', stylist.id)">Light Purple</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="light-blue" (click)="updateColor('#B3E5FC', stylist.id)">Light Blue</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <span class="m-nav__link-text" id="default" (click)="updateColor('#FFFFFF', stylist.id)">Default</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
            </div>
            <div class="m-portlet__body" id="stylist-card-body" [ngStyle]="{'background-color': stylist.color}">
                    <div *ngFor="let event of eventArr" >
                      <div id="eventId" *ngIf="event.stylist == stylist.id" [style.top]="getPosition(event.startDate)" (click)="eventClick(event)">
                            <p style="font-size: 14px; margin-bottom: 0px;">{{event.startDate | date:'shortTime'}}-{{event.endDate | date:'shortTime'}}</p>
                            <p style="font-size: 14px;"><strong>{{event.c_name}}</strong></p>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- +++++++++++++++++++++++++++++++++++Add New Booking Floating Button +++++++++++++++++++++++++++++++++++-->
<button class="btn" (click)="addEventClick()" id="add-event-btn"><i class="fa fa-plus" style="color: white;"></i></button>

