.backdrop{ 
    background-color:rgba(15, 13, 13, 0.76);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 1024;    
}
    
.details, .date-time{
    background-color: #f0f0f0;
    padding: 10px;
    /* display: inline-block; */
    border-radius: 5px;
}

.details{
    /* position: absolute; */
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    /* width: 60%; */
}

.modal .modal-content .modal-body{
    padding: 5px;
    
}

#time, #date1, #date2{
    display: inline-block;
    height: 45px;
}

.date-time{
    padding: 0px 5px;
    margin-left: 15px;
    height: 30%;
}

#time{
    padding: 0px 5px 0px 0px;
    border-right: 2px solid #e5e5e5;
    font-weight: bold;
    font-size: 15px;
}

#start{
    margin: 0px;
}

#end{
    margin: 0px;
}

#date1{
    padding: 0px;
    margin: 0px;
    font-size: 45px;
    font-weight: bold;
}
#day{
    padding: 0px;
    margin: 0px;
}

#date2{
    padding: 0px;
}

#weekday{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

#month{
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#services, #stylist_howOften, #vertical_divider{
    display: inline-block;
    margin-left: 0px;
}

#services{
    padding: 0px 5px 0px 0px;
    font-size: 14px;
    height: 10%;   
}

#service{
    top: 0px;
    background-color: #f0f0f0;
    color: black;
    width: 100%;
}

#services ul li{
    list-style: none;
}

#services ul{
    margin-left: 0px;
}

#stylist_howOften{
    padding: 0px 5px 0px 15px;
}

#vertical_divider{
    height: 70%;
    position: absolute;
    border: 1px solid #e5e5e5;
}    

.custom-alert{
    position: fixed;
    top: 12%;
    right: 5%;
    background-color: #81d4fa;
    box-shadow: 1px 1px 10px 0px #18ffff;
    width: 300px;
    height: 50px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 1s;
    animation-delay: 0s;
    color: #ffffff;
}

@keyframes customToastr {
    0%   {top:10%;}
    25%  {top:5%;}
    50%  {top:10%;}
    75%  {top:5%;}
    100% {top:10%;}
}

#btn-edit{
    position: absolute;
    left: 86%;
    top: 3.5%;
    background-color: #AAAAAA;
    z-index: 1;
}

.show{
    display: block;
}

.time-slot{
    margin-left: 0px;
}

.btn-time{
    background-color: #e6e6e6;
}

.btn-time:hover{
    background-color: #858282;
}


.m-portlet .m-portlet__head{
    padding: 0 1.2rem;
    height: 3rem;
}

.m-portlet .m-portlet__body{
    padding: 1.2rem 0.5rem;
    position: relative;
    overflow: auto;
    height: 77%;
}

/* .m-portlet .m-portlet__foot:not(.m-portlet__no-border){
    background-color: #858282;
} */

#eventId{
    position: absolute;
    width: 185px; 
    height: 50px;
    margin: 5px auto; 
    background-color: #f1eeee; 
    padding: 5px; 
    border-radius: 5px;
    cursor: pointer;
    /* transition: all 1s ease-in 0.5s; */
    animation-name: eventAn;
    animation-duration: 0.5s;
}

@keyframes eventAn {
    from {opacity: 0; margin-left: 20px;}
    to {opacity: 1; margin-left: 5px;}
}

#add-event-btn{
    height: 60px;
    width: 60px;
    position: fixed;
    right: 2%;
    bottom: 10%;
    border-radius: 50%;
    background-color: #1db4ba;
    z-index: 0.9;
}

#main-section{
   height: 800px;
   width: 100%;
   padding-left: 0px;
   overflow: hidden;
   padding-bottom: 0px;
}

#stylists-holder{
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    width: 100%; 
    margin-bottom: 0px;
}

#stylist-card{
    width: 200px; 
    height: 98%; 
    display: inline-block; 
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 0px;
}

/* #stylist-card-body:nth-child(3n){
    background-color: #e5e5e5;
}

#stylist-card-body:nth-child(4n){
    background-color: #18ffff;
} */
/*
#stylist-card-body:nth-child(3n){
    background-color: #eb8686;
} */

/* #stylist-card-body:nth-child(4n){
    background-color: #ffffff;
}
 */


@media (min-width: 576px){
    #detail-modal-dialog{
        max-width: 600px;
    }
}

#table-row{
    border: none; 
    border-right: 2px solid black;
}

.has-error{
    border: 1px solid red;
}
