.backdrop{ 
    background-color:rgba(15, 13, 13, 0.76);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 1024;    
}

.show{
    display: block;
}

.custom-alert{
    position: fixed;
    top: 12%;
    right: 5%;
    background-color: #5867dd;
    box-shadow: 1px 1px 5px 0px #5867dd;
    width: 300px;
    height: 50px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 0.7s;
    animation-delay: 0s;
    color: #ffffff;
}

@keyframes customToastr {
    from {opacity: 0; top: 5%;}
    to {opacity: 1; top: 10%;}
}

.badge-stylist{
    background-color: #ECEEEF;
    font-weight: 500;
    font-size: 80%;
}

/* #spinner{
    width: 200px;
    height: 40px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 50%;
    background-color: #ffffff;

} */

.m-form__help{
    color: red;
    font-size: 10px;
    font-weight: bolder;
 }

 .btn-submit, .btn-update{
     background-color: #5867dd;
     color: white;
 }