<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false">
    <strong>{{ alertMessage }}</strong>
</div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>


<!-- ++++++++++++++++++++++++++++++++++++++++++ Spinner ++++++++++++++++++++++++++++++++++++++++++++++-->
<div [ngStyle]="{'display': isSpinner ? 'block' : 'none'}" style="z-index:2000; position: fixed; background-color: #fff; box-shadow: 2px 2px 5px #e0e0e0; top:50%; left: 45%;">
	<div class="m-blockui">
		<span>
            Vent venligst...
		</span>
		<span>
			<div class="m-loader m-loader--brand"></div>
		</span>
	</div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++Services Table Section+++++++++++++++++++++++++++++++++++++++++-->
<div class="m-content" style="padding: 10px;">
    <div class="m-portlet">
        <div class="m-portlet__head" style="padding: 0.5rem 1rem; height: 4rem;">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h1 class="m-portlet__head-text" style="font-size: 1.8rem; color: #AAAAAA;">
                        Services
                    </h1>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a class="btn btn-secondary m-btn m-btn--icon" (click)="showAddServiceModal()" ng-reflect-href="#">
                            <span>
                                <i class="fa fa-plus-circle" style="color: #5867dd;"></i>
                                <span>
                                    Tilføj ny tjeneste
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body" style="padding: 0.5rem 1rem;">
            <div class="table-responsive">
                <div class="m_datatable" id="ajax_data">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table m-table">
                                <thead style="background-color: #ECEEEF;">
                                    <tr>
                                        <!-- <th>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th> -->
                                        <th>
                                            Titel
                                        </th>
                                        <!-- <th>
                                                        
                                                    </th> -->
                                        <th>
                                            Stylist
                                        </th>
                                        <th style="width: 23%;">
                                            Beskrivelse
                                        </th>
                                        <th>
                                            Varighed
                                        </th>
                                        <th>
                                            Pris
                                        </th>
                                        <th style="width: 23%;">
                                            Kommentarer
                                        </th>
                                        <th>
                                            Handlinger
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let service of menArr">
                                        <!-- <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td> -->
                                        <td style="width: 5%;">
                                            <span>
                                                <img src="{{service.imageUrl}}" height="60" width="90" style="object-fit:cover;"
                                                    alt="{{service.name}}_image" />
                                            </span>
                                            <span style="font-size: 0.9rem;">
                                                <strong>{{service.name}}</strong>
                                            </span>
                                        </td>
                                        <!-- <td style="padding-left: 0px;">
                                                       <span><strong>{{service.name}}</strong></span>
                                                    </td> -->
                                        <td style="width: 120px;">
                                            <span class="badge badge-pill badge-stylist" *ngFor="let stylist of service.stylists">
                                                {{stylist}}
                                            </span>
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.description}}
                                        </td>
                                        <td>
                                            {{service.minMaxDur}}
                                        </td>
                                        <td>
                                            {{service.price}}
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.comments}}
                                        </td>
                                        <td>
                                            <span>
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </span>
                                            <span (click)="setServiceForUpdate(service)">
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                            <span (click)="setDeleteId(service)">
                                                <a class="btn btn-sm btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let service of womenArr">
                                        <!-- <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td> -->
                                        <td>
                                            <span>
                                                <img src="{{service.imageUrl}}" height="60" width="90" style="object-fit:cover;"
                                                    alt="{{service.name}}_image" />
                                            </span>
                                            <span style="font-size: 0.9rem;">
                                                <strong>{{service.name}}</strong>
                                            </span>
                                        </td>
                                        <!-- <td style="padding-left: 0px;">
                                                        <span><strong>{{service.name}}</strong></span>
                                                    </td> -->
                                        <td style="width: 120px;">
                                            <span class="badge badge-pill badge-stylist" *ngFor="let stylist of service.stylists" style="font-size: 80%;">
                                                {{stylist}}
                                            </span>
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.description}}
                                        </td>
                                        <td>
                                            {{service.minMaxDur}}
                                        </td>
                                        <td>
                                            {{service.price}}
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.comments}}
                                        </td>
                                        <td>
                                            <span>
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </span>
                                            <span (click)="setServiceForUpdate(service)">
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                            <span (click)="setDeleteId(service)">
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let service of childrenArr">
                                        <!-- <td>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            <span></span>   
                                                        </label>
                                                    </td> -->
                                        <td>
                                            <span>
                                                <img src="{{service.imageUrl}}" height="60" width="90" style="object-fit:cover;"
                                                    alt="{{service.name}}_image" />
                                            </span>
                                            <span style="font-size: 0.9rem;">
                                                <strong>{{service.name}}</strong>
                                            </span>
                                        </td>
                                        <!-- <td style="padding-left: 0px;">                                                
                                                        <span><strong>{{service.name}}</strong></span>
                                                    </td> -->
                                        <td style="width: 120px;">
                                            <span class="badge badge-pill badge-stylist" *ngFor="let stylist of service.stylists" style="font-size: 80%;">
                                                {{stylist}}
                                            </span>
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.description}}
                                        </td>
                                        <td>
                                            {{service.minMaxDur}}
                                        </td>
                                        <td>
                                            {{service.price}}
                                        </td>
                                        <td style="width: 23%;">
                                            {{service.comments}}
                                        </td>
                                        <td>
                                            <span>
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </span>
                                            <span (click)="setServiceForUpdate(service)">
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                            <span (click)="setDeleteId(service)">
                                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++Add Service MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade add-service-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Ny Service</h5>
                <button type="button" class="close" (click)="hideAddServiceModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="serviceAddForm" (ngSubmit)="onSubmitService()">
                <div class="modal-body" style="padding: 10px 10px 0px 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row" style="margin-bottom: 0px; padding-bottom: 0.3rem;">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Navn
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="serviceAddF.name" formControlName="sname" name="sname" placeholder="Indtast Navn">
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['sname'].invalid && serviceAddForm.controls['sname'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Pris
                                        </label>
                                        <input class="form-control m-input" type="number" name="service_price" formControlName="sprice" [(ngModel)]="serviceAddF.price">
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['sprice'].invalid && serviceAddForm.controls['sprice'].touched">
                                            *Dette felt er ugyldigt
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Foto
                                        </label>
                                        <div class="" style="height: 80px; width: 80px; background-color: #e5e5e5;">
                                            <img src="{{serviceAddF.imageUrl}}" height="80" width="80">
                                        </div>
                                        <div style="width: 100px;">
                                            <input class="form-control" type="file" formControlName="simageUrl" (change)="imagePreview($event.target.files)" style="width: 80px; padding: 0px; border-width: 0px;"
                                                placeholder="" name="imageUrl" maxSize="500" accept=".jpg, .jpeg, .png">
                                        </div>
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['simageUrl'].invalid && serviceAddForm.controls['simageUrl'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Tjeneste tilbydes
                                        </label>
                                        <div class="m-radio-inline">
                                            <label class="m-radio">
                                                <input type="radio" name="soffered" value="Men" formControlName="soffered" [(ngModel)]="serviceFor"> Herrer
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="soffered" value="Women" formControlName="soffered" [(ngModel)]="serviceFor"> Kvinder
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="soffered" value="Children" formControlName="soffered" [(ngModel)]="serviceFor"> Børn
                                                <span></span>
                                            </label>
                                        </div>
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['soffered'].invalid && serviceAddForm.controls['soffered'].touched">
                                            *Dette felt er påkrævet
                                        </span>
                                        <!-- <p>{{this.serviceAddForm.status | json}}</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Beskrivelse
                                        </label>
                                        <textarea class="form-control m-input" name="service_description" formControlName="sdescription" [(ngModel)]="serviceAddF.description"
                                            placeholder="Indtast beskrivelse">
                                    </textarea>
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['sdescription'].invalid && serviceAddForm.controls['sdescription'].touched">
                                            *Længden skal være mellem 1-100 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Stylister
                                        </label>
                                        <div style="background-color: #ffffff; padding: 5px; border-radius: 3px; overflow: auto; height: 200px;">
                                            <div class="row" *ngFor="let stylist of stylistsArr; let i = index" style="margin: 0px;">
                                                <div class="col-9" style="padding-right: 0px; padding-top: 3px;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="service_stylist" id="{{i}}sty" (change)="selectStylist(stylist.id,i,$event)"> {{stylist.firstName}} {{stylist.lastName}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-2" style="padding: 0px;">
                                                    <input type="number" class="form-control" id="{{i}}dur" (change)="setStylistDuration(stylist.id,i)" placeholder="0" style="padding: 5px; width: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">
                                            Kommantarer
                                        </label>
                                        <textarea class="form-control m-input" name="service_comments" formControlName="scomments" [(ngModel)]="serviceAddF.comments"
                                            placeholder="Indtast kommentarer">
                                    </textarea>
                                        <span class="m-form__help" *ngIf="serviceAddForm.controls['scomments'].invalid && serviceAddForm.controls['scomments'].touched">
                                            *Længden skal være mellem 1-100 tegn
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-secondary" (click)="hideAddServiceModal()">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-submit" [disabled]="serviceAddForm.invalid">
                                    Indsend
                                </button>
                                <!-- <pre>{{serviceAddF | json}}</pre> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Service Deletion Confirmation MOdal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Slet Service</h5>
                <button type="button" class="close" (click)="hideConfirmDeleteModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 10px; background-color: #F0F0F0;">
                Er du sikker på, du vil slette denne tjeneste?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hideConfirmDeleteModal()" data-dismiss="modal">Afbestille</button>
                <button type="button" class="btn btn-danger" (click)="deleteService()">Slit</button>
            </div>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++++Updating Service Modal+++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="modal fade update-service-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Opdatering Service</h5>
                <button type="button" class="close" (click)="hideUpdateServiceModal()" style="margin-top: 0rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="serviceUpdateForm" (ngSubmit)="onUpdateService()">
                <div class="modal-body" style="padding: 10px 10px 0px 10px; background-color: #F0F0F0;">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group row" style="margin-bottom: 0px; padding-bottom: 0.3rem;">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Navn
                                        </label>
                                        <input type="text" class="form-control" formControlName="snameU" [(ngModel)]="serviceUpdateF.name" name="name" placeholder="Indtast Navn">
                                        <span class="m-form__help" *ngIf="serviceUpdateForm.controls['snameU'].invalid && serviceUpdateForm.controls['snameU'].touched">
                                            *Længden skal være mellem 1-16 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Pris
                                        </label>
                                        <input class="form-control m-input" type="number" name="service_price" formControlName="spriceU" [(ngModel)]="serviceUpdateF.price">
                                        <span class="m-form__help" *ngIf="serviceUpdateForm.controls['spriceU'].invalid && serviceUpdateForm.controls['spriceU'].touched">
                                            *Dette felt er ugyldigt
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Foto
                                        </label>
                                        <div class="" style="height: 80px; width: 80px; background-color: #e5e5e5;">
                                            <img src="{{serviceUpdateF.imageUrl}}" height="80" width="80">
                                        </div>
                                        <div style="width: 80px;">
                                            <input class="form-control" type="file" (change)="imagePreviewU($event.target.files)" style="width: 80px; padding: 0px; border-width: 0px;"
                                                placeholder="" name="imageUrl" maxSize="500" accept=".jpg, .jpeg, .png">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Tjeneste tilbydes
                                        </label>
                                        <div class="m-radio-inline">
                                            <label class="m-radio">
                                                <input type="radio" name="sofferedU" id="MenU" value="Men" [(ngModel)]="serviceForU" [ngModelOptions]="{standalone: true}"> Herrer
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="sofferedU" id="WomenU" value="Women" [(ngModel)]="serviceForU" [ngModelOptions]="{standalone: true}"> Kvinder
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input type="radio" name="sofferedU" id="ChildrenU" value="Children" [(ngModel)]="serviceForU" [ngModelOptions]="{standalone: true}"> Børn
                                                <span></span>
                                            </label>
                                        </div>
                                        <!-- 
                                    <p>{{this.serviceUpdateForm.status | json}}</p>
                                    <p>{{serviceUpdateF | json}}</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Beskrivelse
                                        </label>
                                        <textarea class="form-control m-input" name="service_description" formControlName="sdescriptionU" [(ngModel)]="serviceUpdateF.description"
                                            placeholder="Indtast beskrivelse">
                                    </textarea>
                                        <span class="m-form__help" *ngIf="serviceUpdateForm.controls['sdescriptionU'].invalid && serviceUpdateForm.controls['sdescriptionU'].touched">
                                            *Længden skal være mellem 1-100 tegn
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Stylister
                                        </label>
                                        <div style="background-color: #ffffff; padding: 5px; border-radius: 3px; overflow: auto; height: 200px;">
                                            <div class="row" *ngFor="let stylist of stylistsArr; let i = index" style="margin: 0px;">
                                                <div class="col-9" style="padding-right: 0px; padding-top: 3px;">
                                                    <div class="m-checkbox-inline">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" name="stylists" id="{{i}}styUpd" (change)="selectStylistU(stylist.id,i,$event)"> {{stylist.firstName}} {{stylist.lastName}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-2" style="padding: 0px;">
                                                    <input type="number" class="form-control" id="{{i}}durUpd" (change)="setStylistDurationU(stylist.id,i)" style="padding: 5px; width: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label">
                                            Kommantarer
                                        </label>
                                        <textarea class="form-control m-input" name="service_comments" formControlName="scommentsU" [(ngModel)]="serviceUpdateF.comments"
                                            placeholder="Indtast kommantarer">
                                    </textarea>
                                        <span class="m-form__help" *ngIf="serviceUpdateForm.controls['scommentsU'].invalid && serviceUpdateForm.controls['scommentsU'].touched">
                                            *Længden skal være mellem 1-100 tegn
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-secondary" (click)="hideUpdateServiceModal()">
                                    Afbestille
                                </button>
                                <button type="submit" class="btn btn-update" [disabled]="serviceUpdateForm.invalid">
                                    Opdatering
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>