
.showPM{
    display: block;
} 

.backdrop{ 
    background-color:rgba(15, 13, 13, 0.76);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 1024;    
}

.custom-alert{
    position: fixed;
    top: 12%;
    right: 5%;
    background-color: #81d4fa;
    box-shadow: 1px 1px 5px 0px #18ffff;
    width: 300px;
    height: 50px;
    z-index: 99;
    border-radius: 3px;
    padding: 15px;
    animation-name: customToastr;
    animation-duration: 1s;
    animation-delay: 0s;
    color: #ffffff;
}

@keyframes customToastr {
    0%   {top:10%;}
    25%  {top:5%;}
    50%  {top:10%;}
    75%  {top:5%;}
    100% {top:10%;}
}