<!-- +++++++++++++++++++++++++++++++++++Alert/Notifier/Toastr+++++++++++++++++++++++++++++++++++-->
<div class="custom-alert" *ngIf="isAlert" (close)="isAlert = false"><strong>{{ alertMessage }}</strong></div>

<!-- +++++++++++++++++++++++++++++++++++Backdrop/Shadow for Modal+++++++++++++++++++++++++++++++++++-->
<!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->

<!-- ++++++++++++++++++++++++++++++++++Loader++++++++++++++++++++++++++++++++++++++++-->
<!-- <button class="btn btn-danger" (click)="showProgressModal()" data-target=".progressModal" data-toggle="modal">
        Launch Modal
</button> -->
<!-- <div class="modal fade progressModal" *ngIf="isProgressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						New message
                    </h5>
                    <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block; ">
                        Uploading Picture
                    </div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
                    
					<form>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">
								Recipient:
							</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="form-control-label">
								Message:
							</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary">
						Send message
					</button>
				</div>
			</div>
		</div>
</div> -->

<div class="m-content" style="padding: 10px;">
<div class="m-portlet">
    <!-- <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Adjusted Tabs
                </h3>
            </div>
        </div>
    </div> -->
    <div class="m-portlet__body">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#m_tabs_all_stylists">
                    All Stylists
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_add_stylist">
                    Add Stylist
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- ++++++++++++++++++++++++++++++++++ All Stylist Tab ++++++++++++++++++++++++++++++++++++++++  -->
            <div class="tab-pane active" id="m_tabs_all_stylists" role="tabpanel">      
                    <div class="m-portlet m-portlet--mobile">
                        <!-- <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        AJAX Datatable
                                        <small>
                                            data loaded from remote data source
                                        </small>
                                    </h3>
                                </div>
                            </div> 
                        </div> --> 
                        <div class="m-portlet__body">
                            <!--begin: Search Form -->
                            <!-- <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                <div class="row align-items-center">
                                    <div class="col-xl-8 order-2 order-xl-1">
                                        <div class="form-group m-form__group row align-items-center">
                                            <div class="col-md-4">
                                                <div class="m-form__group m-form__group--inline">
                                                    <div class="m-form__label">
                                                        <label>
                                                            Status:
                                                        </label>
                                                    </div>
                                                    <div class="m-form__control">
                                                        <select class="form-control m-bootstrap-select" id="m_form_status">
                                                            <option value="">
                                                                All
                                                            </option>
                                                            <option value="1">
                                                                Pending
                                                            </option>
                                                            <option value="2">
                                                                Delivered
                                                            </option>
                                                            <option value="3">
                                                                Canceled
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="d-md-none m--margin-bottom-10"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="m-form__group m-form__group--inline">
                                                    <div class="m-form__label">
                                                        <label class="m-label m-label--single">
                                                            Type:
                                                        </label>
                                                    </div>
                                                    <div class="m-form__control">
                                                        <select class="form-control m-bootstrap-select" id="m_form_type">
                                                            <option value="">
                                                                All
                                                            </option>
                                                            <option value="1">
                                                                Online
                                                            </option>
                                                            <option value="2">
                                                                Retail
                                                            </option>
                                                            <option value="3">
                                                                Direct
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="d-md-none m--margin-bottom-10"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-cart-plus"></i>
                                                <span>
                                                    New Order
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                    </div>
                                </div>
                            </div>-->
                            <!--end: Search Form -->  		<!--begin: Datatable -->
                            <div class="table-responsive">
                                <div class="m_datatable" id="ajax_data">
                                        <div class="m-section">
                                                <div class="m-section__content">
                                                    <table class="table m-table">
                                                        <thead style="background-color: #ECEEEF;">
                                                            <tr>
                                                                <th>
                                                                    #
                                                                </th>
                                                                <th>
                                                                    Age
                                                                </th>
                                                                <th>
                                                                    Gender
                                                                </th>
                                                                <th>
                                                                    First Name
                                                                </th>
                                                                <th>
                                                                    Last Name
                                                                </th>
                                                                <th>
                                                                    Email
                                                                </th>
                                                                <th>
                                                                    Mobile
                                                                </th>
                                                                <th>
                                                                    Actions
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let stylist of stylistArr">
                                                                <td>
                                                                    <img src="{{stylist.imageUrl}}" class="m--img-rounded m--marginless m--img-centered" height="30" width="30" alt="{{stylist.firstName}}_image"/>
                                                                </td>
                                                                <td>
                                                                    {{stylist.age}}
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-mars" *ngIf="stylist.gender == 'male'" style="color: cyan; font-weight: bold;"></i>
                                                                    <i class="fa fa-venus" *ngIf="stylist.gender == 'female'" style="color: pink; font-weight: bold;"></i> 
                                                                    <i class="fa fa-genderless" *ngIf="stylist.gender == 'others'" style="color: cyan; font-weight: bold;"></i>
                                                                </td>
                                                                <td>
                                                                    {{stylist.firstName}}
                                                                </td>
                                                                <td>
                                                                    {{stylist.lastName}}
                                                                </td>
                                                                <td>
                                                                    {{stylist.email}}
                                                                </td>
                                                                <td>
                                                                    {{stylist.mobile}}
                                                                </td>
                                                                <td>
                                                                    <span><i class="fa fa-ellipsis-h"></i></span>
                                                                    <span style="margin-left: 10px;"><i class="fa fa-edit"></i> </span>
                                                                    <span style="margin-left: 10px;"><i class="fa fa-trash"></i> </span>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
            </div>
            <!-- ++++++++++++++++++++++++++++++++++ Adding Stylist Tab ++++++++++++++++++++++++++++++++++++++++  -->
            <div class="tab-pane" id="m_tabs_add_stylist" role="tabpanel" >
                    <div class="m-portlet">
                            <div class="alert alert-warning alert-dismissible fade show" *ngIf="isProgressAlert" role="alert">
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                                <strong>
                                    Status: 
                                </strong>
                                {{progressMessage}}
                            </div>
                            
                            <form #stylistAddForm="ngForm" (ngSubmit)="onSubmitStylistForm()" class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group row">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="" style="margin-bottom: 20px;">
                                                <div class="" style="height: 150px; width: 116px; background-color: #e5e5e5;">
                                                    <img src="{{stylistAddF.imageUrl}}" height="120" width="116">    
                                                    
                                                    <input class="form-control m-input" type="file" placeholder="Upload" name="imageUrl" (change)="imagePreview($event.target.files)" style="background-color: #1DB4BA;" accept=".jpeg, .jpg, .png">
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label>
                                                        First Name:
                                                    </label>
                                                    <input type="text" class="form-control m-input" name="firstname" [(ngModel)]="stylistAddF.firstName" placeholder="Enter first name">
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label>
                                                        Last Name:
                                                    </label>
                                                    <input type="text" class="form-control m-input" name="lastname" [(ngModel)]="stylistAddF.lastName" placeholder="Enter last name"> 
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label>
                                                        Phone Number:
                                                    </label>
                                                    <input type="number" class="form-control m-input" name="mobile" [(ngModel)]="stylistAddF.mobile" placeholder="7880123422">
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label>
                                                        Email:
                                                    </label>
                                                    <input type="email" class="form-control m-input" name="email" [(ngModel)]="stylistAddF.email" placeholder="demo@demo.com"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-4 col-md-4">
                                            <label>
                                                Gender:
                                            </label>
                                            <select class="form-control" name="gender" [(ngModel)]="stylistAddF.gender" style="background-color: white;">
                                                <option value="">Choose option</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="others">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label class="">
                                                Age:
                                            </label>
                                            <select class="form-control" name="age" [(ngModel)]="stylistAddF.age" style="background-color: white;">
                                                <option value="0">Choose option</option>
                                                <option *ngFor="let age of ages">{{age}}</option>	 
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label class="">
                                                Services For:
                                            </label>
                                            <div class="m-checkbox-inline">
                                                <label class="m-checkbox" *ngFor="let sf of serviceForArr">
                                                    <input type="checkbox" name="servicesFor" [(ngModel)]="sf.selected" (change)="setServicesFor(sf)">
                                                    {{sf.name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-4 col-md-4">
                                            <label>
                                                Service Name:
                                            </label>
                                            <input type="text" class="form-control m-input" name="service_name" [(ngModel)]="serviceAddF.name" placeholder="Dameklip">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>
                                                Price:
                                            </label>
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="number" class="form-control m-input" name="service_price" [(ngModel)]="serviceAddF.price" placeholder="200">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                    <span>
                                                        <i class="">$</i>
                                                    </span>
                                                </span>
                                            </div>
                                            
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>
                                                Duration:
                                            </label>
                                            <div class="m-input-icon m-input-icon--right">
                                                <input type="number" class="form-control m-input" name="service_duration" [(ngModel)]="serviceAddF.duration" placeholder="20">
                                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                                    <span>
                                                        <i class="">Mins</i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6 col-md-6">
                                            <label class="">
                                                Description:
                                            </label>
                                            <textarea class="form-control m-input" name="service_duration" [(ngModel)]="serviceAddF.description"  placeholder="Description for the service" id="exampleTextarea" rows="3"></textarea>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label class="">
                                                Color:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio" *ngFor="let c of colorsArr">
                                                    <input type="radio" name="color" [(ngModel)]="stylistAddF.color" value="{{c.code}}">
                                                     <div [ngStyle]="{'background-color': c.code}" style="width: 100px; text-align: center; padding: 5px 0px; border-radius: 3px; border: 1px solid rgb(126, 121, 121);">{{c.name}}</div>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                    <div class="m-form__actions m-form__actions--solid">
                                        <div class="row">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-8">
                                                <button type="submit" class="btn btn-primary" [disabled]="stylistAddForm.invalid">
                                                    Submit
                                                </button>
                                                <button type="reset" class="btn btn-secondary">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                            <pre>{{stylistAddF | json}}</pre>
                                    </div>
                                    <div class="col-md-6">
                                            <pre>{{serviceAddF | json}}</pre>
                                    </div>
                                </div>
                                
                               
                            </form>
                     
                            <!-- <form  #serviceAddForm="ngForm" (ngSubmit)="onSubmitStylistForm()" class="m-form m-form--state m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="form-group m-form__group row">
                                                
                                                <div class="col-lg-6 col-md-6">
                                                    <label class="form-control-label">
                                                        * Search Stylist Name:
                                                    </label>
                                                    <div class="input-group m-input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                       <!--  <input class="form-control" type="text" name="s_name" [(ngModel)]="model" [ngbTypeahead]="search" 
                                                        [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="setStylist()" required placeholder="John Doe">
                                                     </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                        <label class="form-control-label">
                                                            * Service Name:
                                                        </label>
                                                        <input type="text" name="service_name" [(ngModel)]="serviceAddF.name" class="form-control m-input" required placeholder="" value="">
                                                    </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6 col-md-6 m-form__group-sub">
                                                    <label class="form-control-label">
                                                        * Price:
                                                    </label>
                                                    <input type="number" name="service_price" [(ngModel)]="serviceAddF.price" class="form-control m-input" required placeholder="" value="">
                                                </div>
                                                <div class="col-lg-6 col-md-6 m-form__group-sub">
                                                    <label class="form-control-label">
                                                        * Duration:
                                                    </label>
                                                    <input type="number" name="service_duration" [(ngModel)]="serviceAddF.duration" class="form-control m-input" required placeholder="" value="">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                    <div class="col-lg-12 col-md-12 m-form__group-sub">
                                                        <label class="form-control-label">
                                                            * Description:
                                                        </label>
                                                        <textarea class="form-control m-input" [(ngModel)]="serviceAddF.description" name="service_description" required placeholder="Enter a menu"></textarea>
                                                        <span class="m-form__help">
                                                            Please enter a menu within text length range 10 and 100.
                                                        </span>         
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-accent" [disabled]="serviceAddForm.invalid">
                                                        Submit
                                                    </button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </form> -->
                    </div>
            </div>
        </div>
    </div>
</div>    
</div> 

    
    

    
    